<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.mapper.RestNoticeInfoManageMapper">
<select id="selectRestNoticeInfoLeftListByPagination" resultType="RestNoticeInfoVO">
    
        SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
		 	       TB.* FROM (
						    SELECT NOTE_SEQ, NOTE_TITLE, NOTE_STARTDATE, NOTE_ENDDATE,
                                   FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID
                                   NOTE_CONTENT
							FROM tb_menunotice
							WHERE 1=1 
		        <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'menuTitle'">
								and a.NOTE_TITLE LIKE CONCAT('%',#{searchKeyword},'%')  
							</when>
							<otherwise>
								and b.NOTE_CONTENT LIKE CONCAT('%',#{searchKeyword},'%')  
							</otherwise>
						</choose>
				</if>	
				<if test="searchStartDay != ''">    
				    <![CDATA[   
				      AND #{searchStartDay} between NOTE_STARTDATE and NOTE_ENDDATE
				    ]]>
				</if>
				ORDER BY  NOTE_SEQ  DESC
	        ) TB 
	        ORDER BY 
	        TB.NOTE_SEQ  DESC
	        limit  #{firstIndex} ,  #{recordCountPerPage}   
	        
   </select>
   <select id="selectRestNoticeInfo" resultType="RestNoticeInfoVO">
       SELECT NOTE_SEQ, NOTE_TITLE, NOTE_STARTDATE, NOTE_ENDDATE,
              FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID
              NOTE_CONTENT
       FROM tb_menunotice
       WHERE NOTE_SEQ = #{noteSeq}
   </select>
   <insert id="insertRestNoticeInfo">
       insert into tb_menunotice(NOTE_TITLE, NOTE_STARTDATE , NOTE_ENDDATE, FRST_REGIST_PNTTM, FRST_REGISTER_ID,
                               LAST_UPDT_PNTTM, LAST_UPDUSR_ID, NOTE_CONTENT)
       values (#{noteTitle}, #{noteStartdate,jdbcType=VARCHAR}, #{noteEnddate,jdbcType=VARCHAR}, now(), #{userId}
               , now(), #{userId}, #{noteContent,jdbcType=VARCHAR} )
   </insert>
   <update id="updateRestNoticeInfo">
        update tb_menunotice set NOTE_TITLE = #{noteTitle},
                               NOTE_STARTDATE = #{noteStartdate,jdbcType=VARCHAR},
                               NOTE_ENDDATE = #{noteEnddate,jdbcType=VARCHAR},
                               LAST_UPDT_PNTTM = now(),
                               LAST_UPDUSR_ID = #{userId},
                               NOTE_CONTENT = #{noteContent,jdbcType=VARCHAR}
        WHERE NOTE_SEQ = #{noteSeq}
   </update>
   <delete id="deleteRestNoticeInfo">
        DELETE FROM tb_menunotice WHERE NOTE_SEQ = #{noteSeq}
   </delete>



</mapper>