<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.sts.sch.mapper.AgentGroupInfoManagerMapper">
    <select id="selectAgentGroupInfoLeftListByPagination" resultType="AgentGroupInfoVO"> 
		SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, TB.* FROM (
		       SELECT a.AGENT_CODE, a.AGENT_NM
		       FROM TB_AGENTINFO a 
		       WHERE a.AGENT_USEYN ='Y'
		             AND a.AGENT_CODE not in (SELECT b.AGENT_CODE FROM TB_AGENTGROUPINFO b WHERE b.CONSCH_CODE =#{conschCode})
		             AND a.AGENT_CONTENTGUBUN = 'AGENT_CONTENT_2'
		             <if test="adminLevel != 'ROLE_ADMIN'">
					   and a.PART_ID IN (
					         SELECT PART_ID FROM TB_PARTINFO WHERE PART_ID = #{partId}
							 union all
							 SELECT  hi.part_id
									 FROM ( 
									     SELECT fn_hierarchy(part_id) AS partId, @level AS level 
									     FROM ( 
									            SELECT @start_with := #{partId}, 
									                   @partId := @start_with, 
									                   @level := 0 
									          ) vars, TB_PARTINFO 
									     WHERE @partId IS NOT NULL 
									     ) ho 
									JOIN tb_partinfo hi 
									ON hi.part_id = ho.partId
					   ) 
					</if> 
		       ORDER by a.AGENT_CODE ASC
		) TB
	    ORDER BY  TB.AGENT_CODE  DESC
	    limit  #{firstIndex}, #{recordCountPerPage}      
	</select>
	<select id="selectAgentContentListInfo" resultType="AgentGroupInfoVO">
		SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, TB.* FROM (
				SELECT a.GROUP_SEQ, b.CONSCH_TITLE, b.CONSCH_STARTDAY, b.CONSCH_ENDDAY, c.DISPLAY_TITLE,
		               a.SEND_DATE, a.SEND_RESULT, a.RECEIVED_DATE, a.RECEIVED_RESULT, a.RECEIVED_FILE_DATE, a.RECEIVED_FILE_RESULT
		        FROM TB_AGENTGROUPINFO a, TB_CONTENTSCHEDULE b, TB_DISPLAYPAGEINFO c
		        WHERE a.CONSCH_CODE = b.CONSCH_CODE
				      AND b.DISPLAY_SEQ = c.DISPLAY_SEQ
				      AND b.CONSCH_USEYN ='Y' and c.DISPLAY_UESYN ='Y'
				      AND a.AGENT_CODE = #{agentCode}
				ORDER by a.GROUP_SEQ DESC
		) TB
	    ORDER BY  TB.GROUP_SEQ  DESC
	    limit  #{firstIndex}, #{recordCountPerPage}  
	</select>

	<select id="selectAgentGroupInfoRightListByPagination" resultType="AgentGroupInfoVO"> 
		
	    SELECT b.AGENT_NM, a.GROUP_SEQ
		FROM TB_AGENTGROUPINFO a, TB_AGENTINFO b  
		WHERE a.AGENT_CODE = b.AGENT_CODE and a.CONSCH_CODE =#{conschCode}
		ORDER BY a.GROUP_SEQ DESC
	</select>
	<select id="selectAgentGroupInfoCheck" resultType="java.lang.Integer">
	   <![CDATA[
		SELECT IFNULL(COUNT(a.AGENT_CODE), 0)
		FROM TB_AGENTINFO a, TB_AGENTGROUPINFO b,   TB_CONTENTSCHEDULE c
		WHERE a.AGENT_CODE = b.AGENT_CODE and b.CONSCH_CODE = c.CONSCH_CODE
		      AND a.AGENT_CODE = #{agentCode}
		      AND c.CONSCH_CODE not in (#{conschCode})
		      AND  c.CONSCH_STARTDAY >=  (select CONSCH_STARTDAY  from tb_contentschedule where CONSCH_CODE = #{conschCode})
		      AND  c.CONSCH_ENDDAY <= (select CONSCH_ENDDAY  from tb_contentschedule where CONSCH_CODE = #{conschCode})
       ]]>
		 
	</select>
	<select id="selectAgentSchCount" resultType="java.lang.Integer">
        SELECT ifnull(COUNT(a.GROUP_SEQ),0)
        FROM TB_AGENTGROUPINFO a, TB_CONTENTSCHEDULE b, TB_AGENTINFO c
        WHERE a.CONSCH_CODE = b.CONSCH_CODE and a.AGENT_CODE = c.AGENT_CODE
              AND DATE_FORMAT(now(), '%Y%m%d') >= b.CONSCH_STARTDAY AND b.CONSCH_ENDDAY >= DATE_FORMAT(now(), '%Y%m%d')
              AND b.CONSCH_USEYN = 'Y' and  c.AGENT_CODE = #{agentCode}
              and a.SEND_RESULT = 'N'
   </select>
    <!--  신규 xml 리스트 -->
   <select id="selectDisplayPageInfoContentList" resultType="AgentGroupInfoVO">
     SELECT a.DISPLAY_TITLE, a.DISPLAY_WIDTH,  
            a.DISPLAY_HEIGHT, a.DISPALY_TOTALTIME, a.DISPLAY_NEXTSEQ , 
			a.DISPLAY_LOCALFILE, b.GROUP_SEQ, b.CONSCH_CODE
     FROM TB_DISPLAYPAGEINFO a, TB_AGENTGROUPINFO b, TB_CONTENTSCHEDULE c   
     WHERE b.AGENT_CODE = #{agentCode} AND a.DISPLAY_SEQ = c.DISPLAY_SEQ
           AND c.CONSCH_CODE = b.CONSCH_CODE AND b.SEND_RESULT = 'N' and c.CONSCH_USEYN = 'Y'
           AND DATE_FORMAT(now(), '%Y%m%d') >= c.CONSCH_STARTDAY AND c.CONSCH_ENDDAY >= DATE_FORMAT(now(), '%Y%m%d')
   </select>
   <select id="selectDisplayFileInfoContentList" resultType="AgentGroupInfoVO">
     SELECT b.GROUP_SEQ, b.CONSCH_CODE, 
            a.DISPLAY_SEQ, SUBSTR(e.REPORT_URL,(INSTR(e.REPORT_URL,'upload')-1)) as REPORT_URL, d.ATCH_FILE_ID, d.STRE_FILE_NM, d.FILE_EXTSN, d.FILE_SIZE
     FROM TB_DISPLAYDETAIL a, TB_AGENTGROUPINFO b, TB_CONTENTSCHEDULE c , LETTNFILEDETAIL d, TB_REPORTINFO e  
     WHERE b.AGENT_CODE = #{agentCode} AND a.DISPLAY_SEQ = c.DISPLAY_SEQ
           AND c.CONSCH_CODE = b.CONSCH_CODE AND b.SEND_RESULT = 'O' and b.RECEIVED_RESULT = 'O'  and c.CONSCH_USEYN = 'Y'
           AND DATE_FORMAT(now(), '%Y%m%d') >= c.CONSCH_STARTDAY AND c.CONSCH_ENDDAY >= DATE_FORMAT(now(), '%Y%m%d')
           AND b.GROUP_SEQ =  #{groupSeq} and a.REPORT_SEQ = e.REPORT_SEQ and e.REPORT_DC = d.STRE_FILE_NM      
   </select>
   <!--  신규 xml 리스트  끝-->
	<insert id="insertAgentGroupInfo">
	    INSERT INTO TB_AGENTGROUPINFO (CONSCH_CODE, AGENT_CODE, GROUP_USEYN, FRST_REGIST_PNTTM, FRST_REGISTER_ID,
	                                   LAST_UPDT_PNTTM, LAST_UPDUSR_ID, SEND_RESULT)
	    VALUE (#{conschCode}, #{agentCode}, 'Y', now(), #{userId,jdbcType=VARCHAR}, now() , #{userId,jdbcType=VARCHAR}, 'N');
	       
	    UPDATE TB_CONTENTSCHEDULE SET CONSCH_AGENTCNT = CONSCH_AGENTCNT + 1 where CONSCH_CODE = #{conschCode};
	</insert>
	<update id="updateAgentResetUpdate">
	    UPDATE TB_AGENTGROUPINFO SET SEND_DATE = null, SEND_RESULT = 'N',
	                                 RECEIVED_DATE = null, RECEIVED_RESULT = 'N',
	                                 RECEIVED_FILE_DATE = null, RECEIVED_FILE_RESULT = 'N'
	    WHERE GROUP_SEQ = #{groupSeq};
	</update>
	<update id="updateAgentResetUpdateContent">
	    UPDATE TB_AGENTGROUPINFO SET SEND_DATE = null, SEND_RESULT = 'N',
	                                 RECEIVED_DATE = null, RECEIVED_RESULT = 'N',
	                                 RECEIVED_FILE_DATE = null, RECEIVED_FILE_RESULT = 'N'
	    WHERE CONSCH_CODE = #{conschCode};
	</update>
	<update id="updateAgentSendUpdate">
	    UPDATE TB_AGENTGROUPINFO SET SEND_DATE = now(), SEND_RESULT = #{sendResult}
	    WHERE GROUP_SEQ = #{groupSeq};
	</update>
	<update id="updateAgentReceivedUpdate">
	    UPDATE TB_AGENTGROUPINFO SET RECEIVED_DATE = now(), RECEIVED_RESULT = #{receivedResult}
	    WHERE GROUP_SEQ = #{groupSeq};
	</update> 
	<update id="updateAgentFileUpdate">
	    UPDATE TB_AGENTGROUPINFO SET RECEIVED_FILE_DATE = now(), RECEIVED_FILE_RESULT = #{receivedFileResult}
	    WHERE GROUP_SEQ = #{groupSeq};
	</update> 
	<delete id="deleteAgentGroupInfo">
	   UPDATE TB_CONTENTSCHEDULE SET CONSCH_AGENTCNT = CONSCH_AGENTCNT - 1
	   WHERE CONSCH_CODE = (SELECT CONSCH_CODE FROM TB_AGENTGROUPINFO WHERE GROUP_SEQ = #{groupSeq});
	   DELETE FROM TB_AGENTGROUPINFO WHERE GROUP_SEQ = #{groupSeq};
	</delete>

</mapper>