<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.sts.sch.mapper.SchduleInfoManageMapper">

    <select id="selectSchduleInfoManageListByPagination" resultType="SchduleInfoVO">     	      
		 	SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, TB.* FROM (
						    SELECT a.SCH_CODE, a.SCH_TITLE, FN_DETAILCODENM(a.SCH_SENDGUBUN) schSendGubun, a.SCH_FILENM, 
						           a.SCH_STARTDAY, a.SCH_ENDDAY, a.SCH_STARTTIME, a.SCH_ENDTIME, a.SCH_USEYN,
						           a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID, a.SCH_MESSAGE, a.SCH_FONTTYPE
							FROM TB_SCHEDULEINFO a
							WHERE 1=1
		        <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'schTitle'">
								and a.SCH_TITLE LIKE CONCAT('%',#{searchKeyword},'%') 
							</when>
							<otherwise>
								and a.SCH_MESSAGE LIKE CONCAT('%',#{searchKeyword},'%')  
							</otherwise>
						</choose>
				</if>		        
				ORDER BY a.SCH_CODE  DESC
	        ) TB 
	        ORDER BY TB.SCH_CODE  DESC
	        limit  #{firstIndex} , #{recordCountPerPage}         		 	    
   </select>
   <select id="selectScheduleSendInfo" resultType="SchduleInfoVO">
            select a.SCH_CODE, a.SCH_TITLE, a.SCH_FILENM, a.SCH_MESSAGE,
                   a.SCH_STARTDAY, a.SCH_ENDDAY, a.SCH_STARTTIME, a.SCH_ENDTIME, a.SCH_FONTTYPE
			from tb_scheduleinfo a, tb_sendmessageinfo b, tb_agentinfo c
			WHERE date_format(now(), '%Y%m%d' ) BETWEEN a.SCH_STARTDAY and a.SCH_ENDDAY
			      AND date_format(now(), '%H%i') BETWEEN a.SCH_STARTTIME AND  a.SCH_ENDTIME
			      AND a.SCH_CODE = b.SCH_CODE
			      AND b.AGENT_CODE = c.AGENT_CODE
			      AND a.SCH_USEYN ='Y'
			      AND b. MSG_SEND = 'Y' 
			      AND b.MSG_RECCHECK ='N'
			      AND c.AGENT_CODE = #{agentCode}
   </select>
   <select id="selectScheduleSendInfoCnt"  resultType="java.lang.Integer">
           SELECT ifnull(COUNT(*),0) FROM  tb_scheduleinfo a, tb_sendmessageinfo b, tb_agentinfo c
		   WHERE date_format(now(), '%Y%m%d' ) BETWEEN a.SCH_STARTDAY and a.SCH_ENDDAY
			     AND date_format(now(), '%H%i%s') BETWEEN a.SCH_STARTTIME AND  a.SCH_ENDTIME
			     AND a.SCH_USEYN ='Y' 
			     AND a.SCH_CODE = b.SCH_CODE AND b.AGENT_CODE = c.AGENT_CODE
			     AND a.SCH_USEYN ='Y' AND b. MSG_SEND = 'Y' 
			     AND c.AGENT_CODE= #{agentCode} AND b.MSG_RECCHECK ='N' 
   </select>
   <select id="selectSchduleInfoManageDetail" resultType="SchduleInfoVO">
     select a.SCH_CODE, a.SCH_TITLE, a.SCH_SENDGUBUN, a.SCH_FILENM, a.SCH_STARTDAY, a.SCH_ENDDAY, a.SCH_STARTTIME, a.SCH_ENDTIME, a.SCH_USEYN, 
            a.SCH_MESSAGE, a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID , a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID, a.SCH_FONTTYPE
     from tb_scheduleinfo a
     where a.SCH_CODE = #{schCode}
   </select>
   <select id="selectSchduleInfoManageView" resultType="SchduleInfoVO">
     select a.SCH_CODE, a.SCH_TITLE, fn_DetailCodeNm(a.SCH_SENDGUBUN) as schSendGubunTxt, a.SCH_SENDGUBUN, a.SCH_FILENM, a.SCH_STARTDAY, 
            a.SCH_ENDDAY, a.SCH_STARTTIME, a.SCH_ENDTIME, a.SCH_USEYN, a.SCH_MESSAGE,
            a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID , a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID, a.SCH_FONTTYPE
     from tb_scheduleinfo a 
     where 1=1 and a.SCH_CODE = #{schCode}
   </select>
   <select id="selectSchduleInfoManageListTotCnt_S" resultType="java.lang.Integer">
        SELECT  ifnull(count(*),0)      
	    FROM tb_scheduleinfo a 
	    WHERE  1=1
	       <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'schTitle'">
								and a.SCH_TITLE LIKE CONCAT('%',#{searchKeyword},'%') 
							</when>
							<otherwise>
								and a.SCH_MESSAGE LIKE CONCAT('%',#{searchKeyword},'%')  
							</otherwise>
						</choose>
			</if>			    	     
   </select>
   
   
   <insert id="insertSchduleInfoManage">
      insert into tb_scheduleinfo(SCH_CODE, SCH_TITLE, SCH_SENDGUBUN, SCH_FILENM, 
                                  SCH_STARTDAY, SCH_ENDDAY, SCH_STARTTIME, SCH_ENDTIME, SCH_USEYN,
                                  FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID, SCH_MESSAGE, SCH_FONTTYPE)
      values (#{schCode}, #{schTitle, jdbcType=VARCHAR}, #{schSendGubun,jdbcType=VARCHAR}, #{schFileNm,jdbcType=VARCHAR}, 
              #{schStartDay,jdbcType=VARCHAR }, #{schEndDay,jdbcType=VARCHAR }, #{schStartTime,jdbcType=VARCHAR }, #{schEndTime,jdbcType=VARCHAR }, #{schUseYn,jdbcType=VARCHAR },  
              now(), #{userId,jdbcType=VARCHAR}, now() , #{userId,jdbcType=VARCHAR}, #{schMessage,jdbcType=VARCHAR}, #{schFonttype,jdbcType=VARCHAR})
   </insert>
   <update id="updateSchduleInfoManage">
      update tb_scheduleinfo set SCH_TITLE = #{schTitle}
                             ,  SCH_SENDGUBUN = #{schSendGubun,jdbcType=VARCHAR }
                             <if test="schFileNm !=  null ">
                             ,  SCH_FILENM = #{schFileNm,jdbcType=VARCHAR }
                             </if>
                             ,  SCH_STARTDAY = #{schStartDay}
                             ,  SCH_ENDDAY = #{schEndDay}
                             ,  SCH_STARTTIME = #{schStartTime}
                             ,  SCH_ENDTIME = #{schEndTime}
                             ,  SCH_MESSAGE = #{schMessage,jdbcType=VARCHAR }
                             ,  SCH_USEYN =  #{schUseYn,jdbcType=VARCHAR }
                             ,  LAST_UPDT_PNTTM = now()
                             ,  LAST_UPDUSR_ID = #{userId,jdbcType=VARCHAR}
                             , SCH_FONTTYPE  = #{schFonttype,jdbcType=VARCHAR}
      where SCH_CODE = #{schCode}
   </update>
   <delete id="deleteSchduleInfoManage">
      delete from tb_scheduleinfo
      where SCH_CODE = #{schCode}   
   </delete>

</mapper>