<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.etc.rest.mapper.RestInfoManageMapper">
   <select id="selectRestInfoPageInfoManageListByPagination" resultType="RestInfoVO">
    
        SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
		 	       TB.* FROM (
						    SELECT a.MENU_SEQ, a.MENU_DATE, a.MENU_INFO, a.MENU_GUBUN, a.MENU_IMG,
						           a.CENTER_ID , b.CENTER_NM,
						           a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID,
						           a.MENU_STEP01_VALUE, a.MENU_STEP02_VALUE, a.MENU_STEP03_VALUE,
						           a.MENU_STEP04_VALUE, a.MENU_STEP05_VALUE,
						           a.MENU_UPDATE, a.MENU_USEYN, fn_DetailCodeNm(a.MENU_GUBUN) menuGubunTxt
							FROM tb_menuInfo a, tb_centerinfo b
							WHERE 1=1 and a.CENTER_ID = b.CENTER_ID
		        <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'menuInfo'">
								and a.MENU_INFO LIKE CONCAT('%',#{searchKeyword},'%')  
							</when>
							<otherwise>
								and b.CENTER_NM LIKE CONCAT('%',#{searchKeyword},'%')  
							</otherwise>
						</choose>
				</if>	
				<if test="searchMenugubun != ''">
				   and a.MENU_GUBUN = #{searchMenugubun}
				</if>
				
				
				<if test="searchStartDay != ''">    
				    <![CDATA[   
				      AND a.MENU_DATE >= #{searchStartDay}
				    ]]>
				</if>
				<if test="searchEndDay != ''">     
				  <![CDATA[   
				      AND a.MENU_DATE <= #{searchEndDay}
				    ]]>
				</if>
				ORDER BY 
				
				a.MENU_SEQ  DESC
	        ) TB 
	        ORDER BY 
	        <if test="searchOrder != ''">  
				   TB.MENU_GUBUN ASC, 
			</if>
	        TB.MENU_SEQ  DESC
	        limit  #{firstIndex} ,  #{recordCountPerPage}   
	        
   </select>
   <select id="selectRestInfoDetail" resultType="RestInfoVO">
       SELECT a.MENU_SEQ, a.MENU_DATE, a.MENU_INFO, a.MENU_GUBUN, a.MENU_IMG,
			  a.CENTER_ID, b.CENTER_NM, fn_DetailCodeNm(a.MENU_GUBUN) menuGubunTxt,
			  a.MENU_STEP01_VALUE, a.MENU_STEP02_VALUE, a.MENU_STEP03_VALUE,
			  a.MENU_STEP04_VALUE, a.MENU_STEP05_VALUE, a.MENU_UPDATE, a.MENU_USEYN
       FROM tb_menuInfo a, tb_centerinfo b
       WHERE a.MENU_SEQ = #{menuSeq}
             and a.CENTER_ID = b.CENTER_ID
   </select>
   <insert id="insertRestInfo">
       insert into tb_menuInfo(MENU_DATE, MENU_INFO, MENU_GUBUN, MENU_IMG, FRST_REGIST_PNTTM, FRST_REGISTER_ID,
                               LAST_UPDT_PNTTM, LAST_UPDUSR_ID, CENTER_ID)
       values (#{menuDate}, #{menuInfo}, #{menuGubun}, #{menuImg,jdbcType=VARCHAR},now(), #{userId}
               , now(), #{userId}, #{centerId} )
   </insert>
   <update id="updateRestInfo">
        update tb_menuInfo set MENU_DATE = #{menuDate},
                               MENU_INFO = #{menuInfo},
                               MENU_GUBUN = #{menuGubun},
                               <if test="menuImg != ''">
                               MENU_IMG = #{menuImg},
                               </if>
                               CENTER_ID = #{centerId},
                               LAST_UPDT_PNTTM = now(),
                               LAST_UPDUSR_ID = #{userId},
                               MENU_USEYN = #{menuUseyn}
        WHERE MENU_SEQ = #{menuSeq}
   </update>
   <update id="updateRestGrade">
       update tb_menuInfo set MENU_UPDATE = now()
                              <if test="menuStep01Value != ''">
                               , MENU_STEP01_VALUE = MENU_STEP01_VALUE + 1
                              </if>
                              <if test="menuStep02Value != ''">
                               , MENU_STEP02_VALUE = MENU_STEP02_VALUE + 1
                              </if>
                              <if test="menuStep03Value != ''">
                               , MENU_STEP03_VALUE = MENU_STEP03_VALUE + 1
                              </if>
                              <if test="menuStep04Value != ''">
                               , MENU_STEP04_VALUE = MENU_STEP04_VALUE + 1
                              </if>
                              <if test="menuStep05Value != ''">
                               , MENU_STEP05_VALUE = MENU_STEP05_VALUE + 1
                              </if>
       where MENU_SEQ = #{menuSeq}
    </update>
   <delete id="deleteRestInfo">
        DELETE FROM tb_menuInfo WHERE MENU_SEQ = #{menuSeq}
   </delete>


</mapper>