<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.sts.sch.mapper.ContentScheduleManagerMapper">

    <select id="selectContentSchduleInfoManageListByPagination" resultType="ContentScheduleInfoVO">     	      
		 	SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, TB.* FROM (
						    SELECT  a.CONSCH_CODE, a.CONSCH_TITLE as conschTitle, a.CONSCH_STARTDAY, a.CONSCH_ENDDAY, b.DISPLAY_TITLE,
						            a.CONSCH_AGENTCNT, a.PART_ID as partId, fn_partNm(ifnull(a.PART_ID, 0)) partNm,
						            a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID , a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID,
						            a.CONSCH_UNISINKGUBUN, a.CONSCH_UNISINKCODE, a.CONSCH_UNISINKORDER,
                                    fn_DetailCodeNm(a.CONSCH_UNISINKGUBUN) conschUnisinkgubunTxt, a.CONSCH_USEYN,
                                    b.DISPALY_PAGECNT, b.DISPALY_TOTALTIME, b.DISPLAY_GUBUN, b.DISPLAY_SEQ
							FROM TB_CONTENTSCHEDULE a , TB_DISPLAYPAGEINFO b
							WHERE a.DISPLAY_SEQ = b.DISPLAY_SEQ
		        <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'conschTitle'">
								and a.CONSCH_TITLE LIKE CONCAT('%',#{searchKeyword},'%') 
							</when>
							<otherwise>
								and b.DISPLAY_TITLE LIKE CONCAT('%',#{searchKeyword},'%')  
							</otherwise>
						</choose>
				</if>		
				<if test="adminLevel != 'ROLE_ADMIN'">
					<if test="partId != ''">
						and a.PART_ID = #{partId}
					</if>
				</if>				
				<if test="displaySeq != ''">
				    AND a.DISPLAY_SEQ = #{displaySeq}
				</if>    
				ORDER BY a.CONSCH_CODE DESC
	        ) TB 
	        ORDER BY TB.CONSCH_CODE DESC
	        limit  #{firstIndex} , #{recordCountPerPage}         		 	    
   </select>
   
   <select id="selectConetntSchduleInfoManageView" resultType="ContentScheduleInfoVO">
     SELECT a.CONSCH_CODE, a.CONSCH_TITLE, a.CONSCH_STARTDAY, a.CONSCH_ENDDAY, b.DISPLAY_SEQ, b.DISPLAY_TITLE,
            a.CONSCH_AGENTCNT, a.PART_ID  as partId, fn_partNm(ifnull(a.PART_ID, 0)) partNm,
            a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID , a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID,
            a.CONSCH_UNISINKGUBUN, a.CONSCH_UNISINKCODE, a.CONSCH_UNISINKORDER, a.CONSCH_USEYN,
            fn_DetailCodeNm(a.CONSCH_UNISINKGUBUN) conschUnisinkgubunTxt
     FROM TB_CONTENTSCHEDULE a , TB_DISPLAYPAGEINFO b
     WHERE a.DISPLAY_SEQ = b.DISPLAY_SEQ and a.CONSCH_CODE = #{schCode}
   </select>
   
   <insert id="insertContentSchduleInfoManage">
      INSERT INTO TB_CONTENTSCHEDULE(CONSCH_CODE, CONSCH_TITLE, CONSCH_STARTDAY, CONSCH_ENDDAY, DISPLAY_SEQ, CONSCH_USEYN, 
                                  CONSCH_AGENTCNT, PART_ID, FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID,
                                  CONSCH_UNISINKGUBUN, CONSCH_UNISINKCODE, CONSCH_UNISINKORDER
                                  )
      VALUES (#{conschCode}, #{conschTitle, jdbcType=VARCHAR}, #{conschStartday}, #{conschEndday}, #{displaySeq} ,
              'Y', 0, #{partId,jdbcType=VARCHAR }, now(), #{userId,jdbcType=VARCHAR}, now() , #{userId,jdbcType=VARCHAR},
              #{conschUnisinkgubun,jdbcType=VARCHAR }, #{conschUnisinkcode,jdbcType=VARCHAR }, #{conschUnisinkorder,jdbcType=VARCHAR }
              )
   </insert>
   <update id="updateContentSchduleInfoManage">
      UPDATE TB_CONTENTSCHEDULE SET CONSCH_TITLE = #{conschTitle}
		                             ,  CONSCH_STARTDAY = #{conschStartday}
		                             ,  CONSCH_ENDDAY = #{conschEndday}
		                             ,  DISPLAY_SEQ = #{selectDisplayCombo ,jdbcType=VARCHAR }
		                             ,  CONSCH_USEYN = #{conschUseyn,jdbcType=VARCHAR  }
		                             ,  PART_ID = #{partId,jdbcType=VARCHAR }
		                             ,  LAST_UPDT_PNTTM = now()
		                             ,  LAST_UPDUSR_ID = #{userId,jdbcType=VARCHAR}
<!-- 		                             ,  CONSCH_UNISINKGUBUN= #{conschUnisinkgubun,jdbcType=VARCHAR } -->
<!-- 		                             ,  CONSCH_UNISINKCODE = #{conschUnisinkcode,jdbcType=VARCHAR } -->
<!-- 		                             ,  CONSCH_UNISINKORDER = #{conschUnisinkorder,jdbcType=VARCHAR } -->
      WHERE CONSCH_CODE = #{conschCode}
   </update>
   <delete id="deleteContentSchduleInfoManage">
      DELETE FROM TB_CONTENTSCHEDULE
      WHERE CONSCH_CODE = #{conschCode}   
   </delete>

</mapper>