<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.sym.state.mapper.AgentStateManageMapper">

   <select id="selectAgentStateDayList" resultType="AgentStateInfo">
      SELECT b.AGENT_NM,
		       SUM(CASE WHEN a.AGENT_TIME = '0000' THEN AGENT_ERRCNT END) "time0000" , 
		       SUM(CASE WHEN a.AGENT_TIME = '0030' THEN AGENT_ERRCNT END) "time0030",
		       SUM(CASE WHEN a.AGENT_TIME = '0100' THEN AGENT_ERRCNT END) "time0100",
		       SUM(CASE WHEN a.AGENT_TIME = '0130' THEN AGENT_ERRCNT END) "time0130",
		       SUM(CASE WHEN a.AGENT_TIME = '0200' THEN AGENT_ERRCNT END) "time0200",
		       SUM(CASE WHEN a.AGENT_TIME = '0230' THEN AGENT_ERRCNT END) "time0230",
		       SUM(CASE WHEN a.AGENT_TIME = '0300' THEN AGENT_ERRCNT END) "time0300",
		       SUM(CASE WHEN a.AGENT_TIME = '0330' THEN AGENT_ERRCNT END) "time0330",
		       SUM(CASE WHEN a.AGENT_TIME = '0400' THEN AGENT_ERRCNT END) "time0400",
		       SUM(CASE WHEN a.AGENT_TIME = '0430' THEN AGENT_ERRCNT END) "time0430",
		       SUM(CASE WHEN a.AGENT_TIME = '0500' THEN AGENT_ERRCNT END) "time0500",
		       SUM(CASE WHEN a.AGENT_TIME = '0530' THEN AGENT_ERRCNT END) "time0530",
		       SUM(CASE WHEN a.AGENT_TIME = '0600' THEN AGENT_ERRCNT END) "time0600",
		       SUM(CASE WHEN a.AGENT_TIME = '0630' THEN AGENT_ERRCNT END) "time0630",
		       SUM(CASE WHEN a.AGENT_TIME = '0700' THEN AGENT_ERRCNT END) "time0700",
		       SUM(CASE WHEN a.AGENT_TIME = '0730' THEN AGENT_ERRCNT END) "time0730",
		       SUM(CASE WHEN a.AGENT_TIME = '0800' THEN AGENT_ERRCNT END) "time0800",
		       SUM(CASE WHEN a.AGENT_TIME = '0830' THEN AGENT_ERRCNT END) "time0830",
		       SUM(CASE WHEN a.AGENT_TIME = '0900' THEN AGENT_ERRCNT END) "time0900",
		       SUM(CASE WHEN a.AGENT_TIME = '0930' THEN AGENT_ERRCNT END) "time0930",
		       SUM(CASE WHEN a.AGENT_TIME = '1000' THEN AGENT_ERRCNT END) "time1000",
		       SUM(CASE WHEN a.AGENT_TIME = '1030' THEN AGENT_ERRCNT END) "time1030",
		       SUM(CASE WHEN a.AGENT_TIME = '1100' THEN AGENT_ERRCNT END) "time1100",
		       SUM(CASE WHEN a.AGENT_TIME = '1130' THEN AGENT_ERRCNT END) "time1130",
		       SUM(CASE WHEN a.AGENT_TIME = '1200' THEN AGENT_ERRCNT END) "time1200",
		       SUM(CASE WHEN a.AGENT_TIME = '1230' THEN AGENT_ERRCNT END) "time1230",
		       SUM(CASE WHEN a.AGENT_TIME = '1300' THEN AGENT_ERRCNT END) "time1300",
		       SUM(CASE WHEN a.AGENT_TIME = '1330' THEN AGENT_ERRCNT END) "time1330",
		       SUM(CASE WHEN a.AGENT_TIME = '1400' THEN AGENT_ERRCNT END) "time1400",
		       SUM(CASE WHEN a.AGENT_TIME = '1430' THEN AGENT_ERRCNT END) "time1430",
		       SUM(CASE WHEN a.AGENT_TIME = '1500' THEN AGENT_ERRCNT END) "time1500",
		       SUM(CASE WHEN a.AGENT_TIME = '1530' THEN AGENT_ERRCNT END) "time1530",
		       SUM(CASE WHEN a.AGENT_TIME = '1600' THEN AGENT_ERRCNT END) "time1600",
		       SUM(CASE WHEN a.AGENT_TIME = '1630' THEN AGENT_ERRCNT END) "time1630",
		       SUM(CASE WHEN a.AGENT_TIME = '1700' THEN AGENT_ERRCNT END) "time1700",
		       SUM(CASE WHEN a.AGENT_TIME = '1730' THEN AGENT_ERRCNT END) "time1730",
		       SUM(CASE WHEN a.AGENT_TIME = '1800' THEN AGENT_ERRCNT END) "time1800",
		       SUM(CASE WHEN a.AGENT_TIME = '1830' THEN AGENT_ERRCNT END) "time1830",
		       SUM(CASE WHEN a.AGENT_TIME = '1900' THEN AGENT_ERRCNT END) "time1900",
		       SUM(CASE WHEN a.AGENT_TIME = '1930' THEN AGENT_ERRCNT END) "time1930",
		       SUM(CASE WHEN a.AGENT_TIME = '2000' THEN AGENT_ERRCNT END) "time2000",
		       SUM(CASE WHEN a.AGENT_TIME = '2030' THEN AGENT_ERRCNT END) "time2030",
		       SUM(CASE WHEN a.AGENT_TIME = '2100' THEN AGENT_ERRCNT END) "time2100",
		       SUM(CASE WHEN a.AGENT_TIME = '2130' THEN AGENT_ERRCNT END) "time2130",
		       SUM(CASE WHEN a.AGENT_TIME = '2200' THEN AGENT_ERRCNT END) "time2200",
		       SUM(CASE WHEN a.AGENT_TIME = '2230' THEN AGENT_ERRCNT END) "time2230",
		       SUM(CASE WHEN a.AGENT_TIME = '2300' THEN AGENT_ERRCNT END) "time2300",
		       SUM(CASE WHEN a.AGENT_TIME = '2330' THEN AGENT_ERRCNT END) "time2330"
		FROM TB_AGENTESTATE a,   TB_AGENTINFO b
		WHERE a.AGENT_CODE = b.AGENT_CODE
		      AND AGENT_STATEDAY = #{searchDay}
		      <if test="seachAgentCode != ''">
		      AND a.AGENT_CODE in 
		       <foreach collection="items" item="item" index="index" open="(" separator="," close=")">
		       #{item}
		       </foreach>
		      </if>
		      
		      GROUP BY  b.AGENT_NM
		      ORDER BY b.AGENT_NM ASC 
   
   </select>
   <!-- <select id="select">
   
		SELECT AGENT_TIME, 
		       SUM(Agnt_0000000002) as 'etc1', 
		       SUM(Agnt_0000000009) as 'etc2' 
		       FROM
		(
			SELECT a.AGENT_TIME,   
			     CASE WHEN a.AGENT_CODE = 'Agnt_0000000002'   THEN AGENT_ERRCNT END 'Agnt_0000000002' ,
			     CASE WHEN a.AGENT_CODE = 'Agnt_0000000002'  THEN AGENT_ERRCNT END 'Agnt_0000000009'
			from tb_agentestate a, tb_agentinfo b 
			
			where a.AGENT_CODE = b.AGENT_CODE
			      and AGENT_STATEDAY = '20190817'
				  order by a.AGENT_TIME asc , AGENT_NM asc 
		)AS T GROUP BY AGENT_TIME;
   
   
   </select> -->
   <select id="selectAgentStateOnyDayChart" resultType="AgentStateInfoVO">
        SELECT b.AGENT_NM, a.AGENT_TIME ,  a.AGENT_ERRCNT  
        FROM TB_AGENTESTATE  a, TB_AGENTINFO b
		WHERE a.AGENT_CODE = b.AGENT_CODE 
			  AND a.AGENT_CODE = #{seachAgentCode}
			  AND AGENT_STATEDAY = #{searchDay}
		ORDER BY a.AGENTSTATECODE ASC 
   
   </select>
   
   <update id="updateAgentStateCnt">
     <![CDATA[
       UPDATE TB_AGENTESTATE SET AGENT_ERRCNT = AGENT_ERRCNT+ 1 
	     WHERE AGENTSTATECODE = ( 
	       SELECT AGENTSTATECODE FROM (
		          SELECT AGENTSTATECODE, AGENT_TIME AS AGENT_TIME   
		          FROM TB_AGENTESTATE 
		          WHERE AGENT_CODE = #{agentCode}
			             AND AGENT_TIME <=  DATE_FORMAT(now(), '%H%i') 
			             AND AGENT_STATEDAY = DATE_FORMAT(now(), '%Y%m%d')
			ORDER BY AGENT_TIME DESC 
			) X 
			limit 1
	    ) ;
	    UPDATE TB_AGENTINFO SET CONN_DATE = now() WHERE AGENT_CODE = #{agentCode};
       ]]>
    </update>
    <insert id="insertAgentStateCreate">
        { call sp_Agent_StateCreate() }
    </insert>

</mapper>