<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.uat.uia.mapper.PartInfoManageMapper">
	<select id="selectPartInfoPageInfoManageListByPagination"  resultType="PartInfoVO">	
		SELECT X.* , B.ALL_INSTT_NM
		FROM (
			SELECT 
				CASE WHEN HO.PARENT_PART_ID = '0' THEN 
			         HO.PART_NM
			         ELSE 
					CONCAT(CONCAT(LPAD('', (3*(LEVEL -1)), ' '), 
						IF (LEVEL >1, '└','')),HO.PART_NM) 
				END AS PART_NM_HI, 
				HO.PART_NM,
				HO.PARENT_PART_ID, 
				LEVEL, 
				HO.path,
				HO.PART_ORDER,
				HO.PART_ID,
				HO.PART_USEYN,
				HO.PART_DC,
				HO.INSTT_CODE,
				HO.PART_ENDYN,
				HO.PART_HEAD_USER_ID,
				fn_ManagerNm(HO.PART_HEAD_USER_ID) PART_HEAD_USER_NM,
				HO.PART_END_DE,
				DATE_FORMAT(SUBSTRING(HO.PART_CREATE_DE, 1,8),'%Y-%m-%d') AS PART_CREATE_DE
			 FROM
			 	( 
			    	WITH RECURSIVE CTE(PART_ID, PART_NM, PARENT_PART_ID, level, path, PART_ORDER, 
			    				   PART_USEYN, PART_DC, INSTT_CODE,
			    				   PART_ENDYN, PART_HEAD_USER_ID, PART_CREATE_DE, PART_END_DE) AS (
					  SELECT PART_ID, PART_NM, PARENT_PART_ID, 0, CAST(PART_ID AS CHAR(200)) , 
					  		PART_ORDER, PART_USEYN, PART_DC, INSTT_CODE, 
					  		PART_ENDYN, PART_HEAD_USER_ID, PART_CREATE_DE, PART_END_DE
					  FROM TB_PARTINFO
					  WHERE PARENT_PART_ID = '0'
					  UNION ALL
					  SELECT t.PART_ID, t.PART_NM, t.PARENT_PART_ID, tp.level + 1, 
					  		CONCAT(tp.path, ', ', t.PART_ID), t.PART_ORDER, t.PART_USEYN,
					  		t.PART_DC, t.INSTT_CODE,
					  		t.PART_ENDYN, t.PART_HEAD_USER_ID, t.PART_CREATE_DE, t.PART_END_DE
					  FROM TB_PARTINFO t
					  INNER JOIN CTE tp ON t.PARENT_PART_ID = tp.PART_ID
					)
					SELECT PART_ID, PART_NM, PARENT_PART_ID, level, PART_ORDER, path,
						   PART_USEYN, PART_DC, INSTT_CODE,
						   PART_ENDYN, PART_HEAD_USER_ID, PART_CREATE_DE, PART_END_DE
					FROM CTE
					ORDER BY path , PART_ORDER asc 
			     ) HO 
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
				<choose>
					<when test="params.searchCondition == 'params.partId'">
						AND PART_ID LIKE CONCAT('%',#{params.searchKeyword},'%') 
					</when>
					<otherwise>
						AND PART_NM LIKE CONCAT('%',#{params.searchKeyword},'%') 
					</otherwise>
				</choose>
			</if>	
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.roleId) and params.roleId != 'ROLE_ADMIN'">
					AND HO.INSTT_CODE = #{params.insttCode} 
					<choose>
						<when test="params.roleId == 'ROLE_TEAM'">
							AND HO.PART_ID IN (WITH RECURSIVE  CTE AS (
												SELECT 
													PART_ID
												FROM TB_PARTINFO
												WHERE PART_ID  = #{params.partId}
												UNION ALL
												SELECT 
													ac.PART_ID, ac.PARENT_PART_ID
												FROM TB_PARTINFO ac
												INNER JOIN CTE bbc on ac.PARENT_PART_ID = bbc.PART_ID
												)
												SELECT PART_ID from CTE
											)
						</when><otherwise>
							AND a.PART_ID = #{params.partId} 
						</otherwise>
					</choose>
				</if>
			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchInsttCode)">
				AND INSTT_CODE = #{params.searchInsttCode}
			</if>
		)X LEFT JOIN  COMTNINSTTCODE B
		ON X.INSTT_CODE = B.INSTT_CODE	
		ORDER BY path , PART_ORDER ASC  	    
	</select>
	<select id="selectPartInfoDetail"  resultType="PartInfoVO">
       SELECT  PART_ID, PART_NM, PART_CREATE_DE, PART_DC, PART_USEYN, PARENT_PART_ID, PART_ORDER, INSTT_CODE,
       		   PART_ENDYN, PART_END_DE, PART_HEAD_USER_ID
	   FROM TB_PARTINFO
	   WHERE PART_ID = #{partId}		  
    </select>
    
	<select id="selectPartInfoCombo" resultType="PartInfoVO">
		SELECT 
				CASE WHEN HO.PARENT_PART_ID = '0' THEN 
			         HO.PART_NM
			         ELSE 
					CONCAT(CONCAT(LPAD('', (3*(LEVEL -1)), ' '), 
						IF (LEVEL >1, '└','')),HO.PART_NM) 
				END AS PART_NM_HI, 
				HO.PART_NM,
				HO.PARENT_PART_ID, 
				LEVEL, 
				HO.path,
				HO.PART_ORDER,
				HO.PART_ID,
				HO.PART_USEYN,
				HO.PART_DC,
				HO.INSTT_CODE,
				HO.PART_ENDYN,
				HO.PART_HEAD_USER_ID,
				fn_ManagerNm(HO.PART_HEAD_USER_ID) PART_HEAD_USER_NM,
				HO.PART_END_DE,
				DATE_FORMAT(SUBSTRING(HO.PART_CREATE_DE, 1,8),'%Y-%m-%d') AS PART_CREATE_DE
			 FROM
			 	( 
			    	WITH RECURSIVE CTE(PART_ID, PART_NM, PARENT_PART_ID, level, path, PART_ORDER, 
			    				   PART_USEYN, PART_DC, INSTT_CODE,
			    				   PART_ENDYN, PART_HEAD_USER_ID, PART_CREATE_DE, PART_END_DE) AS (
					  SELECT PART_ID, PART_NM, PARENT_PART_ID, 0, CAST(PART_ID AS CHAR(200)) , 
					  		PART_ORDER, PART_USEYN, PART_DC, INSTT_CODE, 
					  		PART_ENDYN, PART_HEAD_USER_ID, PART_CREATE_DE, PART_END_DE
					  FROM TB_PARTINFO
					  WHERE PARENT_PART_ID = '0'
					  UNION ALL
					  SELECT t.PART_ID, t.PART_NM, t.PARENT_PART_ID, tp.level + 1, 
					  		CONCAT(tp.path, ', ', t.PART_ID), t.PART_ORDER, t.PART_USEYN,
					  		t.PART_DC, t.INSTT_CODE,
					  		t.PART_ENDYN, t.PART_HEAD_USER_ID, t.PART_CREATE_DE, t.PART_END_DE
					  FROM TB_PARTINFO t
					  INNER JOIN CTE tp ON t.PARENT_PART_ID = tp.PART_ID
					)
					SELECT PART_ID, PART_NM, PARENT_PART_ID, level, PART_ORDER, path,
						   PART_USEYN, PART_DC, INSTT_CODE,
						   PART_ENDYN, PART_HEAD_USER_ID, PART_CREATE_DE, PART_END_DE
					FROM CTE
					ORDER BY path , PART_ORDER ASC 
			     ) HO  
			WHERE HO.PART_USEYN ='Y'
<!-- 			<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchInsttCode)"> -->
<!-- 				AND INSTT_CODE = #{params.searchInsttCode} -->
<!-- 			</if> -->
			ORDER BY path , PART_ORDER ASC 
    </select>
    
    
    <insert id="insertPartInfoManage">
        INSERT INTO TB_PARTINFO (PARENT_PART_ID, PART_CREATE_DE,  PART_NM, PART_DC, PART_USEYN, 
        						PART_ORDER, INSTT_CODE, PART_HEAD_USER_ID, PART_END_DE, PART_ENDYN, PART_ID)
        VALUES (#{parentPartId},  date_format(now(), '%Y%m%d%H%i%s') , #{partNm} , 
        		#{partDc,jdbcType=VARCHAR},#{partUseyn,jdbcType=VARCHAR}, 
        		#{partOrder, jdbcType=VARCHAR},  #{insttCode, jdbcType=VARCHAR}, #{partHeadUserId, jdbcType=VARCHAR}, 
        		#{partEndyn, jdbcType=VARCHAR}, #{partEndDe, jdbcType=VARCHAR}, FN_PARTCODE()
        )                          
    </insert>
    <insert id="insertPartInfoNetworkManage">
        INSERT INTO TB_PARTINFO (PARENT_PART_ID, PART_CREATE_DE,  PART_NM, PART_DC, PART_USEYN, 
        						PART_ORDER, INSTT_CODE, PART_HEAD_USER_ID, PART_END_DE, PART_ENDYN, PART_ID)
        VALUES (#{parentPartId},  date_format(now(), '%Y%m%d%H%i%s') , #{partNm} , 
        		#{partDc,jdbcType=VARCHAR},#{partUseyn,jdbcType=VARCHAR}, 
        		#{partOrder, jdbcType=VARCHAR},  #{insttCode, jdbcType=VARCHAR}, #{partHeadUserId, jdbcType=VARCHAR}, 
        		#{partEndyn, jdbcType=VARCHAR}, #{partEndDe, jdbcType=VARCHAR} , #{partId, jdbcType=VARCHAR}
        )                          
    </insert>
    
    <update id="updatePartInfoManage">
	    UPDATE  TB_PARTINFO SET PART_NM = #{partNm} 
	                            ,PART_DC = #{partDc,jdbcType=VARCHAR} 
	                            ,part_USEYN = #{partUseyn,jdbcType=VARCHAR} 
	                            ,PARENT_PART_ID = #{parentPartId}  
	                            ,PART_ORDER =  #{partOrder, jdbcType=VARCHAR}
	                            ,INSTT_CODE =  #{insttCode, jdbcType=VARCHAR}
	                            ,PART_HEAD_USER_ID = #{partHeadUserId, jdbcType=VARCHAR}
	                            ,PART_ENDYN = #{partEndyn, jdbcType=VARCHAR}
	                            <if test='#{partEndyn}.equals("Y")'>
	                            , PART_END_DE =  date_format(now(), '%Y%m%d%H%i%s')
	                            </if>
	    WHERE PART_ID = #{partId};	             
    </update>
    <update id="updatePartEndInfoManage">
    	UPDAETE TB_PARTINFO SET PART_ENDYN =  #{partEndyn, jdbcType=VARCHAR}
    							, PART_END_DE =  date_format(now(), '%Y%m%d%H%i%s')
    	WHERE PART_ID = #{partId}
    </update>
	<delete id="deletePartInfoManage">
		DELETE FROM  TB_PARTINFO
		WHERE PART_ID = #{partId}
	</delete>
	
</mapper>