<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.uat.mapper.UniUtilManageMapper">
    <select id="selectIdDoubleCheck" resultType="java.lang.Integer">
        { call sp_uniCheck(#{inTable ,mode=IN, jdbcType=VARCHAR, javaType=string} , 
                           #{inCheckName ,mode=IN, jdbcType=VARCHAR, javaType=string},
                           #{inCondition ,mode=IN, jdbcType=VARCHAR, javaType=string}
                           )
        }
    </select>
    <select  id="selectMaxValue" resultType="java.lang.String">
        { call sp_maxValue( #{inCheckName ,mode=IN, jdbcType=VARCHAR, javaType=string} , 
                            #{inTable ,mode=IN, jdbcType=VARCHAR, javaType=string})
        }
    </select>
    <delete id="deleteUniStatement" parameterType="UniUtilInfo" statementType="CALLABLE">
       { call sp_uniDel(#{inTable ,mode=IN, jdbcType=VARCHAR, javaType=string} , 
                        #{inCondition ,mode=IN, jdbcType=VARCHAR, javaType=string} 
                        )
       }
    </delete>
</mapper>