<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.sym.monter.mapper.DetailPageInfoManageMapper">

<select id="selectDetailPageInfoManageListByPagination" resultType="DetailPageInfoVO">     
           SELECT 	SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, TB.*  
           FROM (     
		 	          SELECT a.DETAIL_SEQ, a.DISPLAY_SEQ, a.REPORT_SEQ, a.DETAIL_SORT, a.DETAIL_TIME, b.REPORT_TITLE, b.REPORT_GUBUN,
					         case b.REPORT_GUBUN 
					              when 'reportGubun_3' then CONCAT(replace(b.REPORT_URL, #{replacePath}, '') , b.REPORT_DC)
					              when 'reportGubun_4' then CONCAT(replace(b.REPORT_URL, #{replacePath}, '') , b.REPORT_PREVIEW)
					              else b.REPORT_URL
					         end REPORT_URL,
					         case b.REPORT_GUBUN 
					              WHEN 'reportGubun_3'   THEN  
							      (SELECT CONCAT(ATCH_FILE_ID, ',',ifnull(FILE_WIDTH, ''), ',', ifnull(FILE_HEIGHT, ''), ',', ifnull(PLAY_TIME, '')) 
							       FROM LETTNFILEDETAIL c 
							       WHERE c.STRE_FILE_NM  = b.REPORT_DC)
								  WHEN 'reportGubun_4'   then  
								  (SELECT CONCAT(ATCH_FILE_ID, ',',ifnull(FILE_WIDTH, ''), ',', ifnull(FILE_HEIGHT, ''), ',', ifnull(PLAY_TIME, '')) 
								   FROM LETTNFILEDETAIL c 
								   WHERE c.STRE_FILE_NM  = b.REPORT_DC)
					         ELSE
					              REPORT_PREVIEW
					         end  REPORT_PREVIEW
					  FROM TB_DISPLAYDETAIL a, TB_REPORTINFO b
					  WHERE DISPLAY_SEQ = #{displaySeq}
			                AND a.REPORT_SEQ = b.REPORT_SEQ
			          ORDER BY a.DETAIL_SORT ASC
	       ) TB
	       ORDER BY TB.DETAIL_SORT ASC      		 	    
   </select>
   <select id="selectDetailPageInfoManageListByContent" resultType="DetailPageInfoVO">     
         
			 SELECT X.*,  c.FILE_WIDTH  , c.FILE_HEIGHT,
                   CASE WHEN  c.FILE_EXTSN IN ('mp4', 'avi', 'mpeg') THEN 'MEDIA'
			             WHEN  c.FILE_EXTSN IN ('jpg', 'jpeg', 'gif', 'png', 'bmp') THEN 'IMAGE'
			             WHEN  c.FILE_EXTSN IN ('mp3', 'wav', 'mid') THEN 'MUSIC'
			             else    'URL'
			        END AS mediaType
             FROM (SELECT a.DETAIL_SEQ, a.DISPLAY_SEQ, a.REPORT_SEQ, a.DETAIL_SORT, a.DETAIL_TIME, b.REPORT_TITLE, b.REPORT_GUBUN,
			              b.REPORT_DC ,REPLACE(b.REPORT_URL, #{replacePath}, '') as REPORT_URL
			       FROM TB_DISPLAYDETAIL a, TB_REPORTINFO b
			       WHERE DISPLAY_SEQ = #{displaySeq}
			             and a.REPORT_SEQ = b.REPORT_SEQ
		  	       ORDER BY a.DETAIL_SORT ASC)
                    X left join LETTNFILEDETAIL c
             on X.REPORT_DC = c.STRE_FILE_NM
	         ORDER BY X.DETAIL_SORT ASC
   </select>
   
   <select id="selectDisplaySeqReturn" parameterType="java.util.List" resultType="java.lang.String">
       SELECT DISPLAY_SEQ 
       FROM TB_DISPLAYDETAIL 
       WHERE 1=1
            <choose>
                <when test="list.size != 0">
                 and REPORT_SEQ IN 
                 <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                   #{item}
                 </foreach>
                </when>
            </choose>
      GROUP BY DISPLAY_SEQ order by DISPLAY_SEQ ASC
   </select>
   
   <select id="selectAgentPreviewList"  resultType="DetailPageInfoVO">
        SELECT c.DETAIL_SEQ, d.REPORT_TITLE, c.DETAIL_SORT, c.DETAIL_TIME , b.DISPALY_PAGECNT
               , d.REPORT_GUBUN,
               case d.REPORT_GUBUN 
			              when 'reportGubun_3' then CONCAT(replace(d.REPORT_URL, #{replacePath}, '') , d.REPORT_DC)
			              when 'reportGubun_4' then CONCAT(replace(d.REPORT_URL, #{replacePath}, '') , d.REPORT_DC)
			              else d.REPORT_URL
			   end REPORT_URL
		FROM  TB_AGENTINFO a, TB_DISPLAYPAGEINFO b, TB_DISPLAYDETAIL c, TB_REPORTINFO d
		WHERE a.DISPLAY_SEQ = b.DISPLAY_SEQ AND b.DISPLAY_SEQ = c.DISPLAY_SEQ
		      AND c.REPORT_SEQ = d.REPORT_SEQ      
		      AND a.AGENT_CODE = #{agentCode}
		ORDER BY c.DETAIL_SORT ASC  
   
   </select>
   <select id="selectDisPlayPreviewList"  resultType="DetailPageInfoVO">
        SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, TB.*  FROM (     
		 	  SELECT a.DETAIL_SEQ, a.DISPLAY_SEQ, b.REPORT_TITLE, a.DETAIL_SORT, a.DETAIL_TIME, b.REPORT_GUBUN,
			         CASE b.REPORT_GUBUN 
			              WHEN 'reportGubun_3' then CONCAT(replace(b.REPORT_URL, #{replacePath}, '') , b.REPORT_DC)
			              WHEN 'reportGubun_4' then CONCAT(replace(b.REPORT_URL, #{replacePath}, '') , b.REPORT_DC)
			              ELSE b.REPORT_URL
			         END REPORT_URL, c.DISPALY_PAGECNT
			  FROM TB_DISPLAYDETAIL a, TB_REPORTINFO b, TB_DISPLAYPAGEINFO c
			  WHERE a.DISPLAY_SEQ = #{displaySeq}
			        and a.REPORT_SEQ = b.REPORT_SEQ
			        and a.DISPLAY_SEQ = c.DISPLAY_SEQ
			  ORDER BY a.DETAIL_SORT DESC
	    ) TB
	    ORDER BY TB.DETAIL_SORT ASC
   </select>
   
   <select id="selectDetailPageInfoManageListTotCnt_S" resultType="java.lang.Integer">
        SELECT  IFNULL(COUNT(*),0)      
	    FROM TB_DISPLAYDETAIL a
	    WHERE DISPLAY_SEQ = #{displaySeq} 				    	     
   </select>

   <select id="selectDetailSumTime" resultType="java.lang.Integer">
        SELECT IFNULL(SUM(DETAIL_TIME),0)       
	    FROM TB_DISPLAYDETAIL a
	    WHERE DISPLAY_SEQ = #{displaySeq} 				    	     
   </select>
   
   <select id="selectDetailMaxSort" resultType="java.lang.Integer">
        SELECT   IFNULL((MAX(DETAIL_SORT ) +1),1)       
	    FROM TB_DISPLAYDETAIL a
	    WHERE DISPLAY_SEQ = #{displaySeq} 	
	        			    	     
   </select>
   <select id="selectDetailInfo" resultType="DetailPageInfoVO">  
       SELECT a.DETAIL_SEQ, a.DISPLAY_SEQ, a.REPORT_SEQ, a.DETAIL_SORT, a.DETAIL_TIME, b.REPORT_TITLE
       FROM TB_DISPLAYDETAIL a, TB_REPORTINFO b       
       WHERE a.DETAIL_SEQ = #{detailSeq}
             and a.REPORT_SEQ = b.REPORT_SEQ
   </select>
   
   
   <insert id="insertDetailPageInfoManage">
      INSERT INTO TB_DISPLAYDETAIL(DISPLAY_SEQ, REPORT_SEQ, DETAIL_SORT, DETAIL_TIME,
                                    FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID)
      VALUES ( #{displaySeq}, #{reportSeq},  
         (SELECT IFNULL((MAX(DETAIL_SORT)+1),1) 
          FROM TB_DISPLAYDETAIL a
	      WHERE DISPLAY_SEQ = #{displaySeq}), 
         (SELECT CASE  a.REPORT_GUBUN WHEN 'reportGubun_4' then 
		             (SELECT ifnull(PLAY_TIME, 1)
		              FROM LETTNFILEDETAIL b 
		              WHERE b.REPORT_SEQ = a.REPORT_SEQ)
		       ELSE '1' END as  PLAY_TIME  
		  FROM TB_REPORTINFO a WHERE a.REPORT_SEQ = #{reportSeq}), 
          now(), #{userId,jdbcType=VARCHAR}, now() , #{userId,jdbcType=VARCHAR});
       
      
       UPDATE TB_DISPLAYPAGEINFO SET DISPALY_PAGECNT = (SELECT IFNULL(COUNT(*),0) 
       													FROM TB_DISPLAYDETAIL 
       													WHERE DISPLAY_SEQ = #{displaySeq}) ,  
								 DISPALY_TOTALTIME = (
								 SELECT IFNULL(sum(X.displayTime),0) FROM (
								  			SELECT IFNULL(DETAIL_TIME,0) as displayTime 
								  			FROM TB_DISPLAYDETAIL 
								  			WHERE DISPLAY_SEQ = #{displaySeq}) X
								 )
	   WHERE DISPLAY_SEQ = #{displaySeq} ; 
       
   </insert>
   <update id="updateDetailPageInfoManage">
      UPDATE TB_DISPLAYDETAIL set   DETAIL_SORT = #{detailSort,jdbcType=VARCHAR }
		                             ,  DETAIL_TIME = #{detailTime,jdbcType=VARCHAR }
		                             ,  LAST_UPDT_PNTTM = now()
		                             ,  LAST_UPDUSR_ID = #{userId,jdbcType=VARCHAR}
      WHERE DETAIL_SEQ = #{detailSeq}
   </update>
   <update id="updateDetailTimeChangeManage">
      UPDATE TB_DISPLAYDETAIL SET DETAIL_TIME = #{detailTime,jdbcType=VARCHAR }
      WHERE DETAIL_SEQ = #{detailSeq};
      
      UPDATE TB_DISPLAYPAGEINFO SET DISPALY_PAGECNT = (SELECT IFNULL(COUNT(*),0) 
      												   FROM TB_DISPLAYDETAIL 
      												   WHERE DISPLAY_SEQ = #{displaySeq})
            						, DISPALY_TOTALTIME = (SELECT IFNULL(SUM(DETAIL_TIME),0) 
            											   FROM TB_DISPLAYDETAIL 
            											   WHERE DISPLAY_SEQ = #{displaySeq})
      WHERE  DISPLAY_SEQ = #{displaySeq} ;
   </update>
   
   <!-- 미사용 SQL -->
   <update id="updateDetailSortOrderUpInfoManage">
      UPDATE TB_DISPLAYDETAIL SET DETAIL_SORT = DETAIL_SORT +1 
      WHERE detail_seq = #{detailSeq}
   </update>
	
	<!-- 변경 SQL -->
	<update id="updateDetailSortOrderUpSubInfoManage">      
		<![CDATA[
		UPDATE TB_DISPLAYDETAIL SET DETAIL_SORT = DETAIL_SORT + 1
		WHERE DETAIL_SEQ = 
		( 
			SELECT DETAIL_SEQ FROM 
			(
				SELECT DETAIL_SEQ FROM TB_DISPLAYDETAIL 
				WHERE DETAIL_SORT < 
				(
					SELECT DETAIL_SORT FROM TB_DISPLAYDETAIL 
					WHERE DETAIL_SEQ = #{detailSeq}
				) 
				AND DISPLAY_SEQ = #{displaySeq} ORDER BY DETAIL_SORT DESC 
			) X 
			LIMIT 1
		);
			
		UPDATE TB_DISPLAYDETAIL SET DETAIL_SORT = DETAIL_SORT - 1 
		WHERE DETAIL_SEQ = #{detailSeq};
		]]>
	</update>
   
	<!-- 미사용SQL -->
	<update id="updateDetailSortOrderDownInfoManage">
      UPDATE TB_DISPLAYDETAIL SET DETAIL_SORT = DETAIL_SORT - 1 
      WHERE detail_seq = #{detailSeq}
	</update>

	<!-- 변경 SQL -->
	<update id="updateDetailSortOrderDownSubInfoManage">
		<![CDATA[
		UPDATE TB_DISPLAYDETAIL SET DETAIL_SORT = DETAIL_SORT - 1
		WHERE DETAIL_SEQ = 
		( 
			SELECT DETAIL_SEQ FROM 
			(
				SELECT DETAIL_SEQ FROM TB_DISPLAYDETAIL 
				WHERE DETAIL_SORT > 
				(
					SELECT DETAIL_SORT FROM TB_DISPLAYDETAIL 
					WHERE DETAIL_SEQ = #{detailSeq}
				) 
				AND DISPLAY_SEQ = #{displaySeq} ORDER BY DETAIL_SORT ASC 
			) X 
			LIMIT 1
		);
		
		UPDATE TB_DISPLAYDETAIL SET DETAIL_SORT = DETAIL_SORT + 1 
		WHERE DETAIL_SEQ = #{detailSeq};
		]]>
	</update>
   
   <update id="updateDisplayPageChangeInfo" parameterType="java.util.List">
       
     UPDATE TB_DISPLAYPAGEINFO aa, (SELECT IFNULL(COUNT(*),0) DISPALY_PAGECNT, IFNULL(SUM(b.DETAIL_TIME),0) 
                                            DISPALY_TOTALTIME, 'N' UPDATE_CHANGE, NULL  UPDATE_DATE, a.DISPLAY_SEQ
							        FROM TB_DISPLAYDETAIL b, TB_DISPLAYPAGEINFO a, TB_REPORTINFO c
							        WHERE a.DISPLAY_SEQ = b.DISPLAY_SEQ AND a.DISPLAY_SEQ  IN 
							              <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
							              #{item}
							              </foreach>
							              AND c.REPORT_SEQ = b.REPORT_SEQ
							        GROUP BY  a.DISPLAY_SEQ) bb 
     SET aa.DISPALY_PAGECNT = bb.DISPALY_PAGECNT,  aa.DISPALY_TOTALTIME = bb.DISPALY_TOTALTIME, aa.UPDATE_CHANGE = bb.UPDATE_CHANGE,  aa.UPDATE_DATE = bb.UPDATE_DATE 
     WHERE aa.DISPLAY_SEQ = bb.DISPLAY_SEQ
   </update>
   
   <!-- 미사용 SQL -->
   <delete id="deleteDetailPageInfoManage_A">
      DELETE FROM      TB_DISPLAYDETAIL
      WHERE DISPLAY_SEQ = #{displaySeq}  ;
      
      UPDATE TB_DISPLAYPAGEINFO SET DISPALY_PAGECNT = (SELECT IFNULL(COUNT(*),0) 
      												   FROM TB_DISPLAYDETAIL 
      												   WHERE DISPLAY_SEQ = #{displaySeq})
                                    , DISPALY_TOTALTIME = (SELECT IFNULL(SUM(DETAIL_TIME),0) 
                                    					   FROM TB_DISPLAYDETAIL 
                                    					   WHERE DISPLAY_SEQ = #{displaySeq})
      WHERE  DISPLAY_SEQ = #{displaySeq} 
   </delete>
	<delete id="deleteDetailPageInfoManage">
		DELETE FROM TB_DISPLAYDETAIL
		WHERE DETAIL_SEQ = #{detailSeq};
      
		UPDATE TB_DISPLAYDETAIL A
		SET A.DETAIL_SORT = 
		(
			SELECT C.RNUM FROM 
		    	( 
				SELECT @rownum := @rownum+1 AS RNUM, B.DETAIL_SORT, B.DETAIL_SEQ FROM 
				(
			    		SELECT DISPLAY_SEQ, DETAIL_SORT, DETAIL_SEQ  
			    		FROM TB_DISPLAYDETAIL 
			    		WHERE DISPLAY_SEQ  = #{displaySeq} ORDER BY DETAIL_SORT ASC 
			    	)
					B, (SELECT @rownum :=0) AS R
				) 
				C 
			WHERE C.DETAIL_SEQ = A.DETAIL_SEQ AND A.DISPLAY_SEQ = #{displaySeq} 
		)
		WHERE A.DISPLAY_SEQ = #{displaySeq};
      
		UPDATE TB_DISPLAYPAGEINFO SET 
		DISPALY_PAGECNT = (SELECT IFNULL(COUNT(*),0) FROM TB_DISPLAYDETAIL WHERE DISPLAY_SEQ = #{displaySeq}),
		DISPALY_TOTALTIME = (SELECT IFNULL(sum(DETAIL_TIME),0) FROM TB_DISPLAYDETAIL WHERE DISPLAY_SEQ = #{displaySeq})
		WHERE DISPLAY_SEQ = #{displaySeq};
   </delete>
   <update id="updateDitailOrderUpdatePage">
   		<foreach collection="list" item="item" separator=";" open="" close="; ">  
   			UPDATE TB_DISPLAYDETAIL SET DETAIL_SORT = #{item.detailSort,jdbcType=VARCHAR }
   			WHERE DISPLAY_SEQ = #{item.displaySeq} AND DETAIL_SEQ = #{item.detailSeq}
   		</foreach>
   </update>
   <delete id="deleteDetailReportSeq" parameterType="java.util.List">
      DELETE FROM TB_DISPLAYDETAIL  
      WHERE REPORT_SEQ IN 
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
              #{item}
            </foreach>
   </delete>
</mapper>