<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.sts.dis.mapper.DisplayMapper">
	<select id="selectDisplayGq" resultType="lmap">
		SELECT QUEUE_DN, ENTER, DISTRIBUTE, ANSWER, WAIT_NO, ABANDON, FAIL, NON_SERVICE, TRANSFER, EXTERNAL, CALL_BACK, 
				REENTRY, ENTER_SYS, EXP_DIS, EXP_ABA, GROUP_ENTER, GROUP_DIS, GROUP_ANSWER, GROUP_ABA, GROUP_NONSERVICE, GROUP_FAIL, 
				GROUP_EXP_DIS, GROUP_EXP_ABA, GROUP_TRANFER, TO_CENTER, TO_CENTER_FAIL, FROM_CENTER, NOW_MAX_WAIT_TIME, TODAY_MAX_WAIT_TIME, 
				WAIT_TIME_SUM, ANSWER_TIME_SUM, SERVICE_LEVEL, CURRENT_WAIT_TIME_SUM, OVERFLOW, QUEUE_TENANT, REENTRY_ABANDON, 
				CENTER, GQ_LAST_UPDATE , QUEUE_NM
		FROM TB_GQ
	</select>
	<select id="selectDisplayAt" resultType="lmap">
		SELECT AGT_GROUP, AGT_TEAM, AGT_CALL_IN, AGT_TIME_IN, AGT_CALL_INTERNAL, AGT_TIME_INTERNAL, AGT_CALL_CONSULTATION, AGT_TIME_CONSULTATION, 
				AGT_CALL_TRANSFER, AGT_TIME_TRANSFER, AGT_CALL_CONFERENCE, AGT_TIME_CONFERENCE, AGT_CALL_DID, AGT_TIME_DID, AGT_CALL_HOLD, 
				AGT_TIME_HOLD, AGT_CALL_OUT_ATTEMPT, AGT_TIME_OUT_ATTEMPT, AGT_CALL_OUT_COMPLETION, AGT_TIME_OUT_COMPLETION, AGT_REPLY_CALL, 
				AGT_TALK_TIME, AGT_OUT_TRY, AGT_OUT_TRY_TIME, AGT_TENANT, AGT_CALL_OB, AGT_TIME_OB, SEND_INTERNAL_CNT, SEND_INTERNAL_TIME, 
				RECV_INTERNAL_CNT, RECV_INTERNAL_TIME, SEND_CONSULT_CNT, SEND_CONSULT_TIME, RECV_CONSULT_CNT, RECV_CONSULT_TIME, SEND_TRANSFER_CNT, 
				SEND_TRANSFER_TIME, RECV_TRANSFER_CNT, RECV_TRANSFER_TIME, SEND_CONFERENCE_CNT, SEND_CONFERENCE_TIME, RECV_CONFERENCE_CNT, 
				RECV_CONFERENCE_TIME, OBSERV_CNT, OBSERV_TIME, CENTER, AGT_EMP_ID, AGT_NAME, AT_LAST_UPDATE 
		FROM TB_AT
	</select>
	<select id="selectDisplayAi" resultType="lmap">
		SELECT AGT_LOGIN_ID, AGT_GROUP, AGT_TEAM, AGT_MODE, AGT_DN, AGT_BLENDING, AGT_AUTOSET, AGT_BLOCKING, AGT_TIME, AGT_QUEUE, AGT_REASON_CODE, 
				AGT_CALL_TYPE, AGT_CONN_ANI, AGT_CALL_CNT, AGT_TALK_TIME, AGT_TENANT, AGT_STATE_TIME, AGT_EMP_ID, CENTER, AGT_NAME, READY_CNT, 
				READY_TIME, NOTREADY_CNT, NOTREADY_TIME, AFTERCALLWORK_CNT, AFTERCALLWORK_TIME, OTHERWORK_CNT, OTHERWORK_TIME, AI_LAST_UPDATE 
		FROM TB_AI
	</select>
	<select id="selectDisplayAs" resultType="lmap">
		SELECT AGT_GROUP, AGT_TEAM, AGT_BLEND, AGT_TOTAL, AGT_LOGIN, AGT_READY, AGT_NOT_READY, AGT_OTHER_WORK, AGT_AFTER_CALL_WORK, AGT_ETC, 
				AGT_BUSY_IN_SUM, AGT_BUSY_OUT_SUM, AGT_BUSY_IN, AGT_BUSY_IN_HOLD, AGT_BUSY_OUT, AGT_BUSY_OUT_HOLD, AGT_BUSY_INT, AGT_BUSY_CONS, 
				AGT_BUSY_TRAN, AGT_BUSY_CONF, AGT_BUSY_ETC, AGT_DID, AGT_DID_HOLD, AGT_DOD, AGT_DOD_HOLD, AGT_DD_INT, AGT_DD_CONS, AGT_DD_TRAN, 
				AGT_DD_CONF, AGT_DD_ETC, AGT_AUTOSET_READY, AGT_TENANT, CENTER, AGT_ALERTIN_SUM, AGT_ALERT_OUT_SUM, AS_LAST_UPDATE ,
				AGT_GROUP_NAME, AGT_TEAM_NAME
		FROM TB_AS
	</select>

</mapper>