<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.bas.program.mapper.ProgrameChangeManageMapper">
	<select id="selectProgrmChangeRequstList"  resultType="lmap">
		
	       SELECT * FROM ( SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				                  TB.* 
				FROM (
				SELECT  @ROWNUM := @ROWNUM + 1 AS RNUM
					, PROGRM_FILE_NM AS "progrmFileNm" 
					, REQUST_NO AS "rqesterNo" 
					, RQESTER_ID AS "rqesterPersonId" 
					, CONCAT(dbms_lob.substr(CHANGE_REQUST_CN, 10, 1), '...') AS "changerqesterCn" 
					, CONCAT(dbms_lob.substr(REQUST_PROCESS_CN, 10, 1), '...') AS "rqesterProcessCn" 
					, OPETR_ID AS "opetrId" 
					, trim(PROCESS_STTUS_CODE) AS "processSttus"
					, DATE_FORMAT(PROCESS_DE, '%y-%m-%d') processDe
					, DATE_FORMAT(REQUST_DE, '%y-%m-%d') processDe
					, REQUST_SJ AS "rqesterSj"
				FROM COMTHPROGRMCHANGEDTLS, (select @ROWNUM := 0) RN_TB
				WHERE 1=1 
				     <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">  
				     AND PROGRM_FILE_NM like '%' #{params.searchKeyword} '%'
				     </if>
	       ) TB )  
	       ORDER BY RNUM DESC 
		   LIMIT #{params.firstIndex},#{params.recordCountPerPage}
		  		
	</select>

	<select id="selectProgrmChangeRequstNo" resultType="String">
		<![CDATA[
			SELECT IFNULL(max(REQUST_NO),0)+1 AS "rqesterNo"
			FROM COMTHPROGRMCHANGEDTLS
		 ]]>
	</select>

	<select id="selectProgrmChangeRequst" resultType="lmap">
		<![CDATA[
			SELECT
				  PROGRM_FILE_NM AS "progrmFileNm" 
				, REQUST_NO AS "rqesterNo" 
				, RQESTER_ID AS "rqesterPersonId" 
				, CHANGE_REQUST_CN AS "changerqesterCn" 
				, REQUST_PROCESS_CN AS "rqesterProcessCn"
				, OPETR_ID AS "opetrId" 
				, trim(PROCESS_STTUS_CODE) AS "processSttus" 
				, DATE_FORMAT(PROCESS_DE, '%y-%m-%d') processDe
				, DATE_FORMAT(REQUST_DE, '%y-%m-%d') processDe
				, REQUST_SJ AS "rqesterSj"
			FROM COMTHPROGRMCHANGEDTLS
			WHERE PROGRM_FILE_NM =#{params.progrmFileNm}
			AND   REQUST_NO    =#{params.rqesterNo}
		]]>
	</select> 

	<insert id="insertProgrmChangeRequst">
		<![CDATA[
			INSERT INTO COMTHPROGRMCHANGEDTLS
				(  PROGRM_FILE_NM
              , REQUST_NO
              , RQESTER_ID
              , CHANGE_REQUST_CN
              , REQUST_DE
              , REQUST_SJ 
              ,PROCESS_STTUS_CODE)
			VALUES (  #{progrmFileNm}
                 , #{rqesterNo}
                 , #{rqesterPersonId}
                 , #{changerqesterCn}
                 , DATE_FORMAT(#{rqesterDe}, '%y-%m-%d') 
                 , #{rqesterSj} 
                 , 'A')
		]]>
	</insert>

	<update id="updateProgrmChangeRequst">
		<![CDATA[
			UPDATE COMTHPROGRMCHANGEDTLS
			SET    RQESTER_ID        = #{rqesterPersonId}
			     , CHANGE_REQUST_CN  = #{changerqesterCn}
                 , REQUST_DE        = DATE_FORMAT(#{rqesterDe}, '%y-%m-%d')       
                 , REQUST_SJ        = #{rqesterSj}
			WHERE PROGRM_FILE_NM=#{progrmFileNm}
			AND   REQUST_NO    =#{rqesterNo}
		]]>
	</update>

	<delete id="deleteProgrmChangeRequst">
		<![CDATA[
			DELETE FROM COMTHPROGRMCHANGEDTLS
			WHERE PROGRM_FILE_NM=#{progrmFileNm}
			AND   REQUST_NO    =#{rqesterNo}
		]]>
	</delete>  

	<update id="updateProgrmChangeRequstProcess">
		<![CDATA[
			UPDATE COMTHPROGRMCHANGEDTLS
			SET    REQUST_PROCESS_CN = #{rqesterProcessCn} 
                 , OPETR_ID           = #{opetrId}         
                 , PROCESS_STTUS_CODE = #{processSttus}    
                 , PROCESS_DE         = DATE_FORMAT(#{rqesterDe}, '%y-%m-%d')         
			WHERE  PROGRM_FILE_NM= #{progrmFileNm}
			AND    REQUST_NO    = #{rqesterNo}  
		]]>
	</update>

	<select id="selectChangeRequstProcessList" resultType="lmap">
		
			SELECT * FROM ( SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
				                   TB.*  
				FROM (
					  SELECT @ROWNUM := @ROWNUM + 1 AS RNUM
							, PROGRM_FILE_NM AS "progrmFileNm"
							, REQUST_NO AS "rqesterNo"
							, RQESTER_ID AS "rqesterPersonId"  
							, CONCAT(dbms_lob.substr(CHANGE_REQUST_CN, 10, 1), '...') AS "changerqesterCn" 
							, CONCAT(dbms_lob.substr(REQUST_PROCESS_CN, 10, 1), '...') AS "rqesterProcessCn"  
			                , OPETR_ID AS "opetrId"
			                , trim(PROCESS_STTUS_CODE) AS "processSttus"
			                , to_char(PROCESS_DE, 'YYYY-MM-DD') AS "processDe"  
			                , to_char(REQUST_DE, 'YYYY-MM-DD') AS "rqesterDe" 
			                , REQUST_SJ AS "rqesterSj"
					  FROM COMTHPROGRMCHANGEDTLS,  (select @ROWNUM := 0) RN_TB
					  WHERE 1=1
		                    <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">  
		                        <![CDATA[   #{params.searchCondition} like #{params.searchKeyword}  ]]>
		                    </if> 
                     <![CDATA[   ORDER BY REQUST_NO ASC
             ) TB ) 
          	 LIMIT #{params.firstIndex},#{params.recordCountPerPage} 
            ]]>
	</select>

	

	<delete id="deleteAllProgrmDtls">
		<![CDATA[                          
			DELETE FROM COMTHPROGRMCHANGEDTLS              
		]]>                                
	</delete>
</mapper>