<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.mapper.XmlInfoManagerMapper">	
    <select id="selectXmlInfoManageListByPagination"  resultType="XmlInfoVO">	
		 	SELECT  TB.* 
		 	FROM (
		 	          SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
		 	                     ROWNUM RNUM, X.*
		 	          FROM (
							    SELECT  a.XML_SEQ,  a.WORK_GUBUN , a.XML_PROCESS_NAME,
								             a.PROCESS_REMARK , a.XML_INPUTPARAM,  a.XML_OTPUTPARAM ,	
								             a.TEST_OK,	 b.CODE_NM,		      
								             FN_DETAILCODENM( a.SEND_GUBUN  ) sendGubunTxt    
							    FROM    TB_SENDMESSAGETYPR a, LETTCCMMNDETAILCODE b
							    WHERE   a.WORK_GUBUN =  b.CODE		        
									        <if test="searchKeyword != ''">
													<choose>
														<when test="searchCondition == 'xmlProcessName'">
															AND XML_PROCESS_NAME LIKE '%' || #{searchKeyword} || '%'
														</when>
														<otherwise>
															AND PROCESS_REMARK LIKE '%' || #{searchKeyword} || '%' 
														</otherwise>
													</choose>
											</if>
											<if test="seachWorkGubun != ''">
											   AND A.WORK_GUBUN = #{seachWorkGubun}
											</if>			     
							        ORDER BY a.XML_SEQ  DESC
		            )X
	        ) TB 
	        WHERE RNUM  BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}  
	        ORDER BY TB.XML_SEQ DESC
     </select>
  
    <select id="selectXmlrInfoManageDetail"  resultType="XmlInfoVO">
           SELECT  a.XML_SEQ as xmlSeq , a.WORK_GUBUN as workGubun, a.XML_PROCESS_NAME as xmlProcessName, a.PROCESS_REMARK as processRemark, 
                        a.XML_INPUTPARAM as xmlInputParam, a.XML_OTPUTPARAM as xmlOutputParam, 
                        a.RESULT_CODE_EXAMPLE as resultCodeExample, a.ETC1 as etc1, a.ETC2 as etc2, a.ETC3 as etc3,
						a.TEST_OK as testOk, a.XML_INPUTPARAMSAMPLE as xmlInputParamSample, a.XML_EXPLAIN as xmlExplain,
						b.CODE_NM as codeNm,
						a.SEND_GUBUN, FN_DETAILCODENM( a.SEND_GUBUN  ) sendGubunTxt 
		    FROM TB_SENDMESSAGETYPR a, LETTCCMMNDETAILCODE b
		    WHERE a.WORK_GUBUN = b.CODE and a.XML_SEQ = #{xmlSeq}		  
    </select>
    <select id="selectDIDProcessNm" resultType="java.lang.String">
	       SELECT XML_PROCESS_NAME 
	       FROM TB_SENDMESSAGETYPR
	       WHERE ETC1 = #{code}     
    </select>
    <select id="selectXmlrInfoManageNameDetail"  resultType="XmlInfoVO">
           SELECT  a.XML_SEQ as xmlSeq , a.WORK_GUBUN as workGubun, a.XML_PROCESS_NAME as xmlProcessName, a.PROCESS_REMARK as processRemark, 
                       a.XML_INPUTPARAM as xmlInputParam, a.XML_OTPUTPARAM as xmlOutputParam, 
                       a.RESULT_CODE_EXAMPLE as resultCodeExample, a.ETC1 as etc1, a.ETC2 as etc2, a.ETC3 as etc3,
					   a.TEST_OK as testOk, a.XML_INPUTPARAMSAMPLE as xmlInputParamSample, a.XML_EXPLAIN as xmlExplain, 
					   a.SEND_GUBUN , FN_DETAILCODENM( a.SEND_GUBUN  ) sendGubunTxt 
		    FROM TB_SENDMESSAGETYPR a
		    WHERE  a.XML_PROCESS_NAME = #{xmlProcessName}		  
    </select>
    <select id="selectXmlProcessCombo" resultType="XmlInfo">
            SELECT  a.XML_PROCESS_NAME as xmlProcessName, a.PROCESS_REMARK as processRemark
		    FROM TB_SENDMESSAGETYPR a		    
    </select>
    <select id="selectXmlProcessCount"   resultType="java.lang.Integer">
       SELECT NVL(COUNT(*),0) FROM tb_sendmessagetypr
       WHERE XML_PROCESS_NAME = #{xmlProcessName}    
    </select>
    <select id="selectXmlInfoManageListTotCnt_S"  resultType="java.lang.Integer">        
       SELECT NVL(COUNT(*),0) 
       FROM  TB_SENDMESSAGETYPR a, LETTCCMMNDETAILCODE b
	   WHERE a.WORK_GUBUN =  b.CODE       
	              <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'xmlProcessName'">
								AND XML_PROCESS_NAME LIKE '%' || #{searchKeyword} || '%'
							</when>
							<otherwise>
								AND PROCESS_REMARK LIKE '%' || #{searchKeyword} || '%' 
							</otherwise>
						</choose>
				</if>
				<if test="seachWorkGubun != ''">
				   AND A.WORK_GUBUN = #{seachWorkGubun}
				</if>		  
    </select>
     <insert id="insertXmlInfoManage" >
        
             INSERT INTO TB_SENDMESSAGETYPR ( XML_SEQ, WORK_GUBUN, SEND_GUBUN, XML_PROCESS_NAME, PROCESS_REMARK, XML_INPUTPARAM,
                                              XML_OTPUTPARAM, RESULT_CODE_EXAMPLE, ETC1, ETC2, ETC3, 
                                              TEST_OK, XML_INPUTPARAMSAMPLE, XML_EXPLAIN, 
                                              FRST_REGIST_PNTTM, FRST_REGISTER_ID)
             VALUES (SQ_MSGSEQ.NEXTVAL, #{workGubun,jdbcType=VARCHAR}, #{sendGubun,jdbcType=VARCHAR},  #{xmlProcessName,jdbcType=VARCHAR} , #{processRemark,jdbcType=VARCHAR}, 
                      #{xmlInputParam,jdbcType=VARCHAR}, #{xmlOutputParam,jdbcType=VARCHAR}, #{resultCodeExample}, #{etc1,jdbcType=VARCHAR} , 
                      #{etc2,jdbcType=VARCHAR}, #{etc3,jdbcType=VARCHAR}, 
                      #{testOk},  #{xmlInputParamSample,jdbcType=VARCHAR},   #{xmlExplain,jdbcType=VARCHAR}, 
                      SYSDATE, #{userId, jdbcType=VARCHAR}
             )                          
     </insert>
     <update id="updateXmlInfoManage" >
       UPDATE  TB_SENDMESSAGETYPR SET   WORK_GUBUN = #{workGubun} ,
                                                        SEND_GUBUN = #{sendGubun,jdbcType=VARCHAR} ,
						                                XML_PROCESS_NAME = #{xmlProcessName ,jdbcType=VARCHAR} ,
						                                PROCESS_REMARK = #{processRemark,jdbcType=VARCHAR} ,
						                                XML_INPUTPARAM = #{xmlInputParam,jdbcType=VARCHAR} ,
						                                XML_OTPUTPARAM = #{xmlOutputParam,jdbcType=VARCHAR} ,
						                                RESULT_CODE_EXAMPLE = #{resultCodeExample} ,
						                                ETC1 = #{etc1,jdbcType=VARCHAR} ,
						                                ETC2 = #{etc2,jdbcType=VARCHAR} ,
						                                ETC3 = #{etc3,jdbcType=VARCHAR} ,
						                                TEST_OK = #{testOk,jdbcType=VARCHAR} ,
						                                XML_INPUTPARAMSAMPLE = #{xmlInputParamSample} ,
						                                XML_EXPLAIN = #{xmlExplain,jdbcType=VARCHAR}                      
      WHERE XML_SEQ = #{xmlSeq}           
     </update>
     <delete id="deleteXmlInfoManage">
       DELETE FROM TB_SENDMESSAGETYPR
       WHERE XML_SEQ = #{xmlSeq}
     </delete>
</mapper>