<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.mapper.DetailPageInfoManageMapper">

<select id="selectDetailPageInfoManageListByPagination" resultType="DetailPageInfoVO">     
           SELECT TB.*  FROM (     
                      SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
						 	     rownum RNUM, X.* 
					  FROM(
							 	  SELECT  a.DETAIL_SEQ, a.DISPLAY_SEQ, a.REPORT_SEQ, a.DETAIL_SORT, a.DETAIL_TIME, b.REPORT_TITLE, b.REPORT_GUBUN,
									          CASE b.REPORT_GUBUN  
									                WHEN 'reportGubun_3' THEN REPLACE(b.REPORT_URL, #{replacePath}, '') || b.REPORT_DC
									                WHEN 'reportGubun_4' THEN REPLACE(b.REPORT_URL, #{replacePath}, '') || b.REPORT_PREVIEW
									                ELSE b.REPORT_URL
									          END REPORT_URL,
									          CASE b.REPORT_GUBUN  WHEN 'reportGubun_3'   THEN  
												      (SELECT ATCH_FILE_ID|| ',' || NVL(FILE_WIDTH, '') || ',' || NVL(FILE_HEIGHT, '') || ',' || NVL(PLAY_TIME, '') 
												       FROM LETTNFILEDETAIL c 
												       WHERE c.STRE_FILE_NM  = b.REPORT_DC)
												  WHEN 'reportGubun_4'   THEN  
													  (SELECT ATCH_FILE_ID || ',' || NVL(FILE_WIDTH, '') ||  ',' || NVL(FILE_HEIGHT, '') || ',' || NVL(PLAY_TIME, '')
													   FROM LETTNFILEDETAIL c 
													   WHERE c.STRE_FILE_NM  = b.REPORT_DC)
									          ELSE
									              REPORT_PREVIEW
									         END  REPORT_PREVIEW
								  FROM TB_DISPLAYDETAIL a, TB_REPORTINFO b
								  WHERE DISPLAY_SEQ = #{displaySeq}
								             and a.REPORT_SEQ = b.REPORT_SEQ
								  ORDER BY a.DETAIL_SORT ASC
					 ) X
	       ) TB
	       ORDER BY TB.DETAIL_SORT ASC      		 	    
   </select>
   <select id="selectDetailPageInfoManageListByContent" resultType="DetailPageInfoVO">     
         
			 SELECT X.*,  c.FILE_WIDTH  , c.FILE_HEIGHT,
	                   CASE WHEN  c.FILE_EXTSN IN ('mp4', 'avi', 'mpeg') THEN 'MEDIA'
				               WHEN  c.FILE_EXTSN IN ('jpg', 'jpeg', 'gif', 'png', 'bmp') THEN 'IMAGE'
				               WHEN  c.FILE_EXTSN IN ('mp3', 'wav', 'mid') THEN 'MUSIC'
				               ELSE    'URL'
				        END AS mediaType
             FROM (SELECT a.DETAIL_SEQ, a.DISPLAY_SEQ, a.REPORT_SEQ, a.DETAIL_SORT, a.DETAIL_TIME, b.REPORT_TITLE, b.REPORT_GUBUN,
			                      b.REPORT_DC ,replace(b.REPORT_URL, #{replacePath}, '') as REPORT_URL
			           FROM TB_DISPLAYDETAIL a, TB_REPORTINFO b
			           WHERE DISPLAY_SEQ = #{displaySeq}
			                      AND a.REPORT_SEQ = b.REPORT_SEQ
		  	       ORDER BY a.DETAIL_SORT DESC)
                    X LEFT JOIN LETTNFILEDETAIL c
             on X.REPORT_DC = c.STRE_FILE_NM
	         ORDER BY X.DETAIL_SORT ASC
   </select>
   
   <select id="selectDisplaySeqReturn" parameterType="java.util.List" resultType="java.lang.String">
       SELECT DISPLAY_SEQ FROM TB_DISPLAYDETAIL 
       WHERE 1=1
            <choose>
                <when test="list.size != 0">
                 AND REPORT_SEQ IN 
                 <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                   #{item}
                 </foreach>
                </when>
            </choose>
      GROUP BY DISPLAY_SEQ order by DISPLAY_SEQ ASC
   </select>
   
   <select id="selectAgentPreviewList"  resultType="DetailPageInfoVO">
        SELECT c.DETAIL_SEQ, d.REPORT_TITLE, c.DETAIL_SORT, c.DETAIL_TIME , b.DISPALY_PAGECNT, d.REPORT_GUBUN,
	               CASE d.REPORT_GUBUN 
				              WHEN 'reportGubun_3' THEN REPLACE(d.REPORT_URL, #{replacePath}, '') || d.REPORT_DC
				              WHEN 'reportGubun_4' THEN REPLACE(d.REPORT_URL, #{replacePath}, '') || d.REPORT_DC
				              ELSE d.REPORT_URL
				   END REPORT_URL
		FROM  TB_AGENTINFO a, TB_DISPLAYPAGEINFO b, TB_DISPLAYDETAIL c, TB_REPORTINFO d
		WHERE a.DISPLAY_SEQ = b.DISPLAY_SEQ AND b.DISPLAY_SEQ = c.DISPLAY_SEQ
			       AND c.REPORT_SEQ = d.REPORT_SEQ      
			       AND a.AGENT_CODE = #{agentCode}
		ORDER BY c.DETAIL_SORT ASC  
   </select>
   <select id="selectDisPlayPreviewList"  resultType="DetailPageInfoVO">
        SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, TB.*  
        FROM (     
			 	  SELECT a.DETAIL_SEQ, a.DISPLAY_SEQ, b.REPORT_TITLE, a.DETAIL_SORT, a.DETAIL_TIME, b.REPORT_GUBUN,
				         CASE b.REPORT_GUBUN 
				              WHEN 'reportGubun_3' THEN REPLACE(d.REPORT_URL, #{replacePath}, '') || d.REPORT_DC
				              WHEN 'reportGubun_4' THEN REPLACE(d.REPORT_URL, #{replacePath}, '') || d.REPORT_DC
				              ELSE b.REPORT_URL
				         END REPORT_URL, c.DISPALY_PAGECNT
				  FROM TB_DISPLAYDETAIL a, TB_REPORTINFO b, TB_DISPLAYPAGEINFO c
				  WHERE a.DISPLAY_SEQ = #{displaySeq}
				             AND a.REPORT_SEQ = b.REPORT_SEQ
				             AND a.DISPLAY_SEQ = c.DISPLAY_SEQ
				  ORDER BY a.DETAIL_SORT DESC
	       ) TB
	       ORDER BY TB.DETAIL_SORT ASC    
   </select>
   
   <select id="selectDetailPageInfoManageListTotCnt_S" resultType="java.lang.Integer">
        SELECT  NVL(count(*),0)      
	    FROM TB_DISPLAYDETAIL a
	    WHERE DISPLAY_SEQ = #{displaySeq} 				    	     
   </select>

   <select id="selectDetailSumTime" resultType="java.lang.Integer">
        SELECT   NVL(sum(DETAIL_TIME),0)       
	    FROM TB_DISPLAYDETAIL a
	    WHERE DISPLAY_SEQ = #{displaySeq} 				    	     
   </select>
   
   <select id="selectDetailMaxSort" resultType="java.lang.Integer">
        SELECT   NVL((MAX(DETAIL_SORT ) +1),1)       
	    FROM TB_DISPLAYDETAIL a
	    WHERE DISPLAY_SEQ = #{displaySeq} 	
	        			    	     
   </select>
   <select id="selectDetailInfo" resultType="DetailPageInfoVO">  
       SELECT a.DETAIL_SEQ, a.DISPLAY_SEQ, a.REPORT_SEQ, a.DETAIL_SORT, a.DETAIL_TIME, b.REPORT_TITLE
       FROM TB_DISPLAYDETAIL a, TB_REPORTINFO b       
       WHERE a.DETAIL_SEQ = #{detailSeq}
                 AND a.REPORT_SEQ = b.REPORT_SEQ
   </select>
   
   
   <insert id="insertDetailPageInfoManage">
        {call 
            declare 
	             begin 
					      INSERT INTO TB_DISPLAYDETAIL( DETAIL_SEQ, DISPLAY_SEQ, REPORT_SEQ, DETAIL_SORT, DETAIL_TIME,
					                                    FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID)
					      VALUES ( SQ_DETAILSEQ.NEXTVAL, #{displaySeq}, #{reportSeq}, 
								        (SELECT NVL((max(DETAIL_SORT)+1),1)       
									     FROM TB_DISPLAYDETAIL a
									     WHERE DISPLAY_SEQ = #{displaySeq})
					                      , 
								         (SELECT CASE  a.REPORT_GUBUN WHEN 'reportGubun_4' THEN  
										             (SELECT NVL(PLAY_TIME, 1)
										              FROM LETTNFILEDETAIL b 
										              WHERE b.REPORT_SEQ = a.REPORT_SEQ)
										           ELSE '1' 
										          END as  PLAY_TIME  
										FROM TB_REPORTINFO a 
										WHERE a.REPORT_SEQ = #{reportSeq}
									     ), 
									     SYSDATE, #{userId,jdbcType=VARCHAR}, SYSDATE , #{userId,jdbcType=VARCHAR}
						   );
					       
					      UPDATE TB_DISPLAYPAGEINFO SET DISPALY_PAGECNT = (SELECT NVL(COUNT(*),0) FROM TB_DISPLAYDETAIL WHERE DISPLAY_SEQ = #{displaySeq}) ,  
																			 DISPALY_TOTALTIME = (
																			 SELECT NVL(SUM(X.displayTime),0) FROM 
																			           (
																			           SELECT NVL(DETAIL_TIME,0) as displayTime 
																			           FROM TB_DISPLAYDETAIL 
																			           WHERE DISPLAY_SEQ = #{displaySeq}
																			           ) X
																			 )
						   WHERE DISPLAY_SEQ = #{displaySeq} ; 
				  end 
		   }
   </insert>
   <update id="updateDetailPageInfoManage">
      UPDATE TB_DISPLAYDETAIL set   DETAIL_SORT = #{detailSort,jdbcType=VARCHAR }
						                             ,  DETAIL_TIME = #{detailTime,jdbcType=VARCHAR }
						                             ,  LAST_UPDT_PNTTM = sysdate
						                             ,  LAST_UPDUSR_ID = #{userId,jdbcType=VARCHAR}
      WHERE DETAIL_SEQ = #{detailSeq}
   </update>
   <update id="updateDetailTimeChangeManage">
         {call 
            declare 
	             begin 
				      UPDATE TB_DISPLAYDETAIL SET DETAIL_TIME = #{detailTime,jdbcType=VARCHAR }
				      WHERE DETAIL_SEQ = #{detailSeq};
				      
				      UPDATE TB_DISPLAYPAGEINFO SET  DISPALY_PAGECNT = (SELECT NVL(COUNT(*),0) FROM TB_DISPLAYDETAIL WHERE DISPLAY_SEQ = #{displaySeq})
														                , DISPALY_TOTALTIME = (SELECT NVL(SUM(DETAIL_TIME),0) FROM TB_DISPLAYDETAIL WHERE DISPLAY_SEQ = #{displaySeq})
				      WHERE  DISPLAY_SEQ = #{displaySeq} ;
				  end
		  }
   </update>
   
   
   <update id="updateDetailSortOrderUpSubInfoManage">      
           {call 
            declare 
	             begin 
	                    <![CDATA[
						UPDATE TB_DISPLAYDETAIL SET DETAIL_SORT = DETAIL_SORT - 1
						WHERE DETAIL_SEQ = 
						( 
							SELECT DETAIL_SEQ FROM 
							(
								SELECT DETAIL_SEQ FROM TB_DISPLAYDETAIL 
								WHERE DETAIL_SORT < 
								(
									SELECT DETAIL_SORT FROM TB_DISPLAYDETAIL 
									WHERE DETAIL_SEQ = #{detailSeq}
								) 
								AND DISPLAY_SEQ = #{displaySeq} ORDER BY DETAIL_SORT DESC 
							) X 
							WHERE ROWNUM  = 1
						);
							
						UPDATE TB_DISPLAYDETAIL SET DETAIL_SORT = DETAIL_SORT + 1 
						WHERE DETAIL_SEQ = #{detailSeq};
						]]>
			     end
			 }
   </update>
   
   <update id="updateDetailSortOrderDownSubInfoManage">
           {call 
            declare 
	             begin 
				     <![CDATA[
				        UPDATE TB_DISPLAYDETAIL SET DETAIL_SORT = DETAIL_SORT - 1
						WHERE DETAIL_SEQ = 
						( 
							SELECT DETAIL_SEQ FROM 
							(
								SELECT DETAIL_SEQ FROM TB_DISPLAYDETAIL 
								WHERE DETAIL_SORT > 
								(
									SELECT DETAIL_SORT FROM TB_DISPLAYDETAIL 
									WHERE DETAIL_SEQ = #{detailSeq}
								) 
								AND DISPLAY_SEQ = #{displaySeq} ORDER BY DETAIL_SORT ASC 
							) X 
							WHERE ROWNUM  = 1
						);
						
						UPDATE TB_DISPLAYDETAIL SET DETAIL_SORT = DETAIL_SORT + 1 
						WHERE DETAIL_SEQ = #{detailSeq};
						
						]]>
				 end 
			}
   </update>
   
   <update id="updateDisplayPageChangeInfo" parameterType="java.util.List">
		     UPDATE TB_DISPLAYPAGEINFO aa, (SELECT NVL(COUNT(*),0) DISPALY_PAGECNT, NVL(SUM(b.DETAIL_TIME),0) 
		                                                                 DISPALY_TOTALTIME, 'N' UPDATE_CHANGE, NULL  UPDATE_DATE, a.DISPLAY_SEQ
									                           FROM TB_DISPLAYDETAIL b, TB_DISPLAYPAGEINFO a, TB_REPORTINFO c
									                           WHERE a.DISPLAY_SEQ = b.DISPLAY_SEQ AND a.DISPLAY_SEQ  IN 
												               <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
												               #{item}
												               </foreach>
									                           AND c.REPORT_SEQ = b.REPORT_SEQ
									                           GROUP BY  a.DISPLAY_SEQ) bb 
		     SET aa.DISPALY_PAGECNT = bb.DISPALY_PAGECNT,  aa.DISPALY_TOTALTIME = bb.DISPALY_TOTALTIME, aa.UPDATE_CHANGE = bb.UPDATE_CHANGE,  aa.UPDATE_DATE = bb.UPDATE_DATE 
		     WHERE aa.DISPLAY_SEQ = bb.DISPLAY_SEQ
   </update>
   <delete id="deleteDetailPageInfoManage">
           {call 
            declare 
	             begin 
				      DELETE FROM   TB_DISPLAYDETAIL   
				      WHERE DETAIL_SEQ = #{detailSeq}   ;
				      
				      UPDATE TB_DISPLAYDETAIL a
					  SET a.DETAIL_SORT = ( SELECT C.RNUM  
						                              FROM 
												      ( 
														       SELECT ROWNUM AS RNUM, B.DETAIL_SORT, B.DETAIL_SEQ 
														       FROM (
															              SELECT DISPLAY_SEQ, DETAIL_SORT , DETAIL_SEQ  
															              FROM TB_DISPLAYDETAIL 
															              WHERE DISPLAY_SEQ  = #{displaySeq} ORDER BY DETAIL_SORT  ASC 
															        ) B
															    ) C
													  WHERE C.DETAIL_SEQ =  a.DETAIL_SEQ AND a.DISPLAY_SEQ  = #{displaySeq} 
												   )
					  WHERE a.DISPLAY_SEQ  = #{displaySeq};
				      
				      UPDATE TB_DISPLAYPAGEINFO SET  DISPALY_PAGECNT = (SELECT NVL(COUNT(*),0) FROM TB_DISPLAYDETAIL WHERE DISPLAY_SEQ = #{displaySeq})
				                                                         , DISPALY_TOTALTIME = (SELECT NVL(sum(DETAIL_TIME),0) FROM TB_DISPLAYDETAIL WHERE DISPLAY_SEQ = #{displaySeq})
				      WHERE  DISPLAY_SEQ = #{displaySeq} ;
				  end 
		    }
   </delete>
   
   <delete id="deleteDetailReportSeq" parameterType="java.util.List">
      DELETE FROM TB_DISPLAYDETAIL  
      WHERE REPORT_SEQ IN 
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
              #{item}
            </foreach>
   </delete>
</mapper>