<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.mapper.DisplayPageInfoManageMapper">

    <select id="selectDisplayPageInfoManageListByPagination" resultType="DispalyPageInfoVO">     	      
		 	SELECT TB.* FROM (
							 	       SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
							 	                  ROWNUM RNUM, X.* 
							 	       FROM (
										    SELECT a.DISPLAY_SEQ, a.DISPLAY_TITLE, a.DISPLAY_REMARK, a.DISPLAY_GUBUN, 
										               fn_agentCnt(a.DISPLAY_SEQ) reportTitle,
										               a.DISPLAY_UESYN displayUseYn, a.DISPALY_PAGECNT displayPageCnt, a.DISPALY_TOTALTIME displayTotalTime,
										               a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID
											FROM TB_DISPLAYPAGEINFO a
											WHERE 1=1
											        <if test="searchKeyword != ''">
															<choose>
																<when test="searchCondition == 'displayTitle'">
																	AND a.DISPLAY_TITLE LIKE '%' || #{searchKeyword} ||'%'  
																</when>
																<otherwise>
																	AND a.DISPLAY_REMARK LIKE '%' || #{searchKeyword}  ||'%'
																</otherwise>
															</choose>
													</if>
													<if test="adminLevel != 'ROLE_ADMIN'">
													  AND a.PART_ID IN (
													         SELECT PART_ID FROM TB_PARTINFO where PART_ID = #{partId}
															 UNION ALL
															 SELECT PART_ID
															 FROM TB_PARTINFO
															 START WITH PARENT_PART_ID = #{partId}
															 CONNECT BY PRIOR PART_ID = PARENT_PART_ID
												     )
													</if>    		        
								                   ORDER BY a.DISPLAY_SEQ  DESC
						             )X
	        ) TB
	        WHERE RNUM BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}  
	        ORDER BY TB.DISPLAY_SEQ  DESC
   </select>
   <select id="selectDisplayPageInfoContentCombo" resultType="DispalyPageInfo">
          SELECT DISPLAY_SEQ, DISPLAY_TITLE 
          FROM TB_DISPLAYPAGEINFO
		  WHERE DISPLAY_GUBUN = #{displayGubun}
			         AND DISPLAY_UESYN ='Y'
		  ORDER BY DISPLAY_SEQ ASC 
   </select>
   <select id="selectDisplayPageInfoManageDetail" resultType="DispalyPageInfoVO">
	     SELECT a.DISPLAY_SEQ, a.DISPLAY_TITLE, a.DISPLAY_REMARK, a.DISPLAY_GUBUN, 
				a.DISPLAY_UESYN displayUseYn, a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID ,
				a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID,
				a.DISPLAY_NEXTSEQ, a.DISPLAY_WIDTH, a.DISPLAY_HEIGHT
	     FROM TB_DISPLAYPAGEINFO a
	     WHERE a.DISPLAY_SEQ = #{displaySeq}
   </select>

   <select id="selectDisplayPageInfoManageView" resultType="DispalyPageInfoVO">
	     SELECT a.DISPLAY_SEQ, a.DISPLAY_TITLE, a.DISPLAY_REMARK,  b.code_nm as displayGubunTxt,
		            a.DISPLAY_GUBUN, a.DISPALY_PAGECNT displayPageCnt, a.DISPALY_TOTALTIME displayTotalTime, 
					a.DISPLAY_UESYN displayUseYn, a.FRST_REGIST_PNTTM, a.FRST_REGISTER_ID ,
					a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID,
					a.DISPLAY_NEXTSEQ, a.DISPLAY_WIDTH, a.DISPLAY_HEIGHT,
					case DISPLAY_NEXTSEQ when  0 then '연동 콘텐츠 없음'
					else (select c.DISPLAY_TITLE from TB_DISPLAYPAGEINFO c where c.DISPLAY_SEQ = a.DISPLAY_NEXTSEQ )
					end as displayNextSeqTxt,
					CASE a.ADMIN_LEVEL WHEN 'ROLE_ADMIN'  THEN '관리자'
		               ELSE (SELECT NVL(part_nm , '없음') FROM tb_partinfo b WHERE b.PART_ID = a.PART_ID)
		            END as partNm		,
		            c.AUTHOR_NM as "deptLevel",
		            a.ADMIN_LEVEL, a.PART_ID, a.DISPLAY_LOCALFILE
	     FROM TB_DISPLAYPAGEINFO a, LETTCCMMNDETAILCODE b   ,  LETTNAUTHORINFO c 
	     WHERE DISPLAY_SEQ = #{displaySeq}
		           AND a.DISPLAY_GUBUN = b.code 
		           AND a.ADMIN_LEVEL = c.AUTHOR_CODE
   </select>
   
   <select id="selectDisplayPageInfoCombo" resultType="DispalyPageInfo"> 
	     SELECT a.DISPLAY_SEQ, a.DISPLAY_TITLE 
	     FROM TB_DISPLAYPAGEINFO a    
	     WHERE DISPLAY_UESYN = 'Y'
			     <if test="displayGubun == 'DispalyGubun_2'">
			     	AND DISPLAY_GUBUN = #{displayGubun}
			     </if>
			     <if test="adminLevel != 'ROLE_ADMIN'">
			     	AND PART_ID = #{partId}
			     </if>
	     ORDER BY a.DISPLAY_SEQ ASC 
   </select>
   
   <select id="selectTimeIntevalNullCheck" resultType="DispalyPageInfo">
	      SELECT a.DISPLAY_SEQ, a.DISPLAY_TITLE,
	                 a.DISPALY_PAGECNT, a.DISPALY_TOTALTIME, 
	                 a.DISPLAY_WIDTH, a.DISPLAY_HEIGHT
	      FROM TB_DISPLAYPAGEINFO a    
	      WHERE DISPLAY_UESYN = 'Y'
	            and a.DISPLAY_SEQ = #{displaySeq}
	      ORDER BY a.DISPLAY_SEQ ASC 
   </select>
   
   <select id="selectDisplayMaxSeq" resultType="java.lang.String">
       SELECT MAX(DISPLAY_SEQ) FROM TB_DISPLAYPAGEINFO
   </select>
   <select id="selectDisplayPageInfoManageListTotCnt_S" resultType="java.lang.Integer">
        SELECT  NVL(count(*),0)      
	    FROM TB_DISPLAYPAGEINFO a
	    WHERE  1=1
	               <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'displayTitle'">
								AND a.DISPLAY_TITLE LIKE CONCAT('%',#{searchKeyword},'%')  
							</when>
							<otherwise>
								AND a.DISPLAY_REMARK LIKE CONCAT('%',#{searchKeyword},'%')  
							</otherwise>
						</choose>
			     </if>					    	     
   </select>
   
   
   <insert id="insertDisplayPageInfoManage">
      INSERT INTO TB_DISPLAYPAGEINFO( DISPLAY_SEQ, DISPLAY_TITLE, DISPLAY_REMARK, DISPLAY_GUBUN, DISPLAY_UESYN, DISPALY_PAGECNT, DISPALY_TOTALTIME,
				                                      FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID,
				                                      DISPLAY_NEXTSEQ, DISPLAY_WIDTH, DISPLAY_HEIGHT, ADMIN_LEVEL, PART_ID  )
      VALUES (SQ_DISPLAYSEQ.NEXTVAL, #{displayTitle, jdbcType=VARCHAR}, #{displayRemark,jdbcType=VARCHAR}, #{displayGubun,jdbcType=VARCHAR}, 
	              #{displayUseYn,jdbcType=VARCHAR }, 0, '0',  SYSDATE, #{userId,jdbcType=VARCHAR}, SYSDATE , #{userId,jdbcType=VARCHAR},
	              #{displayNextseq,jdbcType=VARCHAR}, #{displayWidth,jdbcType=VARCHAR}, #{displayHeight,jdbcType=VARCHAR},
	              #{adminLevel}, #{partId,jdbcType=VARCHAR})
   </insert>
   <update id="updateDisplayPageInfoManage">
      UPDATE TB_DISPLAYPAGEINFO SET DISPLAY_TITLE = #{displayTitle}
                             , DISPLAY_REMARK = #{displayRemark,jdbcType=VARCHAR }
                             , DISPLAY_GUBUN = #{displayGubun,jdbcType=VARCHAR }
                             , DISPLAY_UESYN = #{displayUseYn}
                             , LAST_UPDT_PNTTM = SYSDATE
                             , LAST_UPDUSR_ID = #{userId,jdbcType=VARCHAR}
                             , DISPLAY_NEXTSEQ  = #{displayNextseq,jdbcType=VARCHAR }
                             , DISPLAY_WIDTH = #{displayWidth,jdbcType=VARCHAR }
                             , DISPLAY_HEIGHT = #{displayHeight,jdbcType=VARCHAR }
                             , ADMIN_LEVEL = #{adminLevel}
                             , PART_ID = #{partId,jdbcType=VARCHAR}
      WHERE DISPLAY_SEQ = #{displaySeq}
   </update>
   <update id="updateDisplayPageFileUpdate">
      UPDATE TB_DISPLAYPAGEINFO SET DISPLAY_LOCALFILE = #{displayLocalfile,jdbcType=VARCHAR }
      WHERE DISPLAY_SEQ = #{displaySeq}
   </update>
   <update id="updateDisplayPageUpManage">
      UPDATE TB_DISPLAYPAGEINFO SET DISPALY_PAGECNT = DISPALY_PAGECNT + 1
      WHERE DISPLAY_SEQ = #{displaySeq}
   </update>
   <update id="updateDisplayPageDownManage">
      UPDATE TB_DISPLAYPAGEINFO SET DISPALY_PAGECNT = DISPALY_PAGECNT - 1
      WHERE DISPLAY_SEQ = #{displaySeq}
   </update>
   <update id="updateDisplayTimeInfoManage">
	   UPDATE TB_DISPLAYPAGEINFO SET 
	            DISPALY_PAGECNT = (SELECT NVL(COUNT(*),0) FROM TB_DISPLAYDETAIL WHERE DISPLAY_SEQ = #{displaySeq})
	            , DISPALY_TOTALTIME = (SELECT NVL(sum(DETAIL_TIME),0) FROM TB_DISPLAYDETAIL WHERE DISPLAY_SEQ = #{displaySeq})
	   WHERE  DISPLAY_SEQ = #{displaySeq} 
   </update>
   <update id="updateSisplayUpdateChange">
           {call 
            declare 
	             begin 
					    UPDATE TB_DISPLAYPAGEINFO SET UPDATE_CHANGE = 'N', UPDATE_DATE = SYSDATE
					    WHERE  DISPLAY_SEQ = #{displaySeq} ;
				   
				        UPDATE tb_agentinfo set UPDATE_CHANGE = 'N', UPDATE_DATE = null
				        WHERE DISPLAY_SEQ = #{displaySeq}
				   end
		    }
   </update>
   <delete id="deleteDisplayPageInfoManage">
        {call 
         declare 
             begin 
                     DELETE FROM   tb_displaydetail   
                     WHERE DISPLAY_SEQ = #{displaySeq};
      
                      DELETE FROM      TB_DISPLAYPAGEINFO
                      WHERE DISPLAY_SEQ = #{displaySeq};
            end 
          }
   </delete>
</mapper>