<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.mapper.PartInfoManageMapper">
   <select id="selectPartInfoPageInfoManageListByPagination"  resultType="PartInfoVO">	
		 	SELECT * FROM ( 
		 	             SELECT rownum RNUM, TB.* FROM (
								    SELECT
								                 LEVEL as groupLevel, 
											     PART_ID, 
											     LPAD(' └' ,2*(LEVEL-1)) || PART_NM  as partNm, 
											     PART_CREATE_DE, 
											     PART_DC, 
											     PART_USEYN, 
											     PARENT_PART_ID,
											     PART_ORDER	            
								    FROM    TB_PARTINFO a
								    WHERE 1=1
							        
								        <if test="searchKeyword != ''">
												<choose>
													<when test="searchCondition == 'partId'">
														and PART_ID LIKE '%' || #{partId} || '%'
													</when>
													<otherwise>
														and PART_NM LIKE '%' || #{partNm} || '%'
													</otherwise>
												</choose>
										</if>			     
								         START WITH PART_ID = 'ROOT' 
						                 CONNECT BY PRIOR PART_ID = PARENT_PART_ID 
	                    ) 
	        TB 
	        ) 
	        WHERE RNUM  BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}         		 	    
     </select>
     <select id="selectPartInfoPageInfoManageListToCnt_s"  resultType="java.lang.Integer">        
       SELECT NVL(COUNT(*),0) 
       FROM    TB_PARTINFO a
	   WHERE 1=1
              <if test="searchKeyword != ''">
						<choose>
							<when test="searchCondition == 'partId'">
								and PART_ID LIKE '%' || #{partId} || '%'
							</when>
							<otherwise>
								and PART_NM LIKE '%' || #{partNm} || '%'
							</otherwise>
						</choose>
				</if>	
					  
     </select>
  
    <select id="selectPartInfoDetail"  resultType="PartInfoVO">
           SELECT  PART_ID, PART_NM, PART_CREATE_DE, PART_DC, PART_USEYN, PARENT_PART_ID, PART_ORDER
		    FROM TB_PARTINFO
		    WHERE PART_ID = #{partId}		  
    </select>
    
    <select id="selectPartInfoCombo" resultType="PartInfoVO">
            SELECT  PART_ID,  LPAD(' └' ,2*(LEVEL)) || PART_NM AS partNm 
		    FROM TB_PARTINFO a		  
		    WHERE   PART_USEYN = 'Y'
		    START WITH PART_ID = 'ROOT' 
            CONNECT BY PRIOR PART_ID = PARENT_PART_ID 
		    ORDER BY PART_ORDER ASC
    </select>
    
    
     <insert id="insertPartInfoManage" >
             INSERT INTO TB_PARTINFO (PART_ID, PART_NM, PART_CREATE_DE, PART_DC, PART_USEYN, PARENT_PART_ID, PART_ORDER)
             VALUES (#{partId}, #{partNm},  TO_CHAR(SYSDATE, 'yyyyMmddHH24MISS') , #{partDc,jdbcType=VARCHAR},    
             #{partUseyn,jdbcType=VARCHAR}, #{parentPartId ,jdbcType=VARCHAR},
             #{partOrder, jdbcType=VARCHAR}
             )                          
     </insert>
     <update id="updatePartInfoManage" >
       UPDATE  TB_PARTINFO SET  PART_NM = #{partNm} ,
				                               GROUP_DC = #{groupDc,jdbcType=VARCHAR} ,
				                               PART_USEYN = #{partUseyn,jdbcType=VARCHAR} ,
				                               PARENT_PART_ID = #{parentPartId}  ,
				                               PART_ORDER =  #{partOrder, jdbcType=VARCHAR}       
      WHERE PART_ID = #{partId}           
     </update>


</mapper>