<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.mapper.SendMessageManageMapper">
   
     <select id="selectSendMessageAgentList" resultType="SendMessageInfoVO">
         SELECT b.AGENT_CODE, b.AGENT_NM , a.SCH_CODE, b.agent_remark 
		 FROM TB_AGENTINFO b    
		 LEFT OUTER JOIN  (SELECT a.SCH_CODE, a.AGENT_CODE FROM  TB_SENDMESSAGEINFO a
		 WHERE SCH_CODE = #{schCode}) a  on  a.AGENT_CODE = b.AGENT_CODE 
		 WHERE b.AGENT_USEYN ='Y'
				   <if test="adminLevel != 'ROLE_ADMIN'">
		                AND b.PART_ID= #{partId}
		           </if> 
		 ORDER BY b.AGENT_REMARK ASC
     </select>
     <select id="selectSendMessageAgentHistoryList" resultType="SendMessageInfoVO">
 	   SELECT TB.* FROM
 	         SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
 	                    ROWNUM RNUM, X.* 
             FROM (
				         SELECT b.AGENT_CODE, a.SCH_CODE, a.send_msgSeq,
				                    c.SCH_MESSAGE, c.SCH_FONTTYPE, a.msg_send, a.msg_sendRegdate,
				                    a.msg_recCheck, a.msg_recUpdate
						 FROM TB_SENDMESSAGEINFO A , TB_AGENTINFO B, TB_SCHEDULEINFO C
						 WHERE b.AGENT_USEYN ='Y' AND a.AGENT_CODE = b.AGENT_CODE 
								    AND c.SCH_CODE = a.SCH_CODE
								    AND a.AGENT_CODE = #{agentCode}
						 ORDER BY A.SEND_MSGSEQ ASC
			 ) X
	   ) TB 
       ORDER BY TB.SEND_MSGSEQ  DESC
       WHERE RNUM  BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}       	
     </select>
     <insert id="insertSendMessage">
         INSERT INTO TB_SENDMESSAGEINFO (SCH_CODE,AGENT_CODE, MSG_SEND, MSG_SENDREGDATE, MSG_RECCHECK, MSG_RECUPDATE)
         SELECT #{schCode}, b.AGENT_CODE, 'Y', SYSDATE, 'N', NULL  
		 FROM  TB_AGENTINFO b 
		 LEFT OUTER JOIN  (SELECT a.SCH_CODE, a.AGENT_CODE 
		                            FROM  TB_SENDMESSAGEINFO a
									 WHERE SCH_CODE =  #{schCode}) a
												 ON  a.AGENT_CODE = b.AGENT_CODE
										         WHERE a.SCH_CODE IS NULL
								              <choose>
								                <when test="agentCodeLst.size != 0">
								                  AND b.AGENT_CODE IN 
								                     <foreach collection="agentCodeLst" item="item" index="index" open="(" separator="," close=")">
								                         #{item}
								                     </foreach>
								                </when>
								               </choose>          
    </insert>
    <update id="updateSendMessage">
        UPDATE TB_SENDMESSAGEINFO  SET MSG_RECCHECK = 'N' ,  MSG_RECUPDATE =  null
        WHERE SCH_CODE = #{schCode}
    </update>
    <update id="updateSendMessageAgent">
        UPDATE TB_SENDMESSAGEINFO SET MSG_RECCHECK = #{msgRecCheck}, MSG_RECUPDATE = SYSDATE
        WHERE SCH_CODE = #{schCode} and AGENT_CODE = #{agentCode}
    </update>
    <delete id="deleteSendMessageAgent">
        DELETE FROM tb_sendmessageinfo
        WHERE SCH_CODE = #{schCode} AND AGENT_CODE
              IN (
                   SELECT AGENT_CODE 
                   FROM tb_agentinfo 
                   WHERE  AGENT_CODE NOT IN 
				             <foreach collection="agentCodeLst" item="item" index="index" open="(" separator="," close=")">
				               #{item}
				             </foreach>
                  )
    </delete>
    <delete id="deleteSendMessage">
        DELETE FROM TB_SENDMESSAGEINFO 
        WHERE 1=1  
		         <if test="sch_code != ''">
		            AND SCH_CODE = #{schCode}
		         </if>
		         <if test="sendMsgSeq != ''">
		            AND SEND_MSGSEQ = #{sendMsgSeq}
		         </if>
    </delete>
</mapper>