<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.backoffice.mapper.ErrorInfoManageMapper">


   <select id="selectErrorMessage" resultType="ErrorInfoVO">     	      
		 	 SELECT  TB.* FROM (
		 	      SELECT  SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
		 	                  ROWNUM RNUM , X.* 
		 	      FROM (
						    SELECT a.ERROR_SEQ, a.ERROR_TYPE, a.ERROR_MESSAGE, a.ERROR_REGDATE
							FROM tb_errorhis a
							WHERE 1=1
								       <if test="searchKeyword != ''">
												<choose>
													<when test="searchCondition == 'errorType'">
														and a.ERROR_TYPE LIKE CONCAT('%',#{searchKeyword},'%') 
													</when>
													<otherwise>
														and a.ERROR_MESSAGE LIKE CONCAT('%',#{searchKeyword},'%')  
													</otherwise>
												</choose>
										</if>		        
				         
				   ) X
	        ) TB 
	        ORDER BY TB.ERROR_SEQ  DESC
	        WHERE RNUM BETWEEN  #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}       
   </select>
   <select id="selectErrorMessageCnt" resultType="java.lang.Integer">
           SELECT NVL(count(*),0) FROM TB_ERRORHIS A
           WHERE 1=1 
		             <if test="searchKeyword != ''">
								<choose>
									<when test="searchCondition == 'errorType'">
										and a.ERROR_TYPE LIKE  CONCAT('%',#{searchKeyword},'%')  
									</when>
									<otherwise>
										and a.ERROR_MESSAGE LIKE CONCAT('%',#{searchKeyword},'%')  
									</otherwise>
								</choose>
					 </if>
   </select>
   <insert id="insertErrorMessage">
      INSERT INTO TB_ERRORHIS( ERROR_SEQ, ERROR_TYPE, ERROR_MESSAGE, ERROR_REGDATE)
      VALUES (SQ_ERRORSEQ.NEXTVAL,  #{errorType, jdbcType=VARCHAR}, #{errorMessage, jdbcType=VARCHAR}, sysdate )
   </insert>
   
   <delete id="deleteErrorMessage">
      DELETE FROM   TB_ERRORHIS   WHERE ERROR_SEQ = #{errorSeq}   
   </delete>

</mapper>